<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>文档编辑</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
    <link href="../../static/assets/materialize/css/materialize.min.css"
          th:href="@{/assets/materialize/css/materialize.min.css}" media="screen,projection" rel="stylesheet"/>
    <!-- Bootstrap Styles-->
    <link href="../../static/assets/css/bootstrap.css"
          th:href="@{/assets/css/bootstrap.css}" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="../../static/assets/font-awesome-4.7.0/css/font-awesome.css"
          th:href="@{/assets/css/font-awesome.css}" rel="stylesheet"/>

    <!-- Custom Styles-->
    <link href="../../static/assets/css/custom-styles.css"
          th:href="@{/assets/css/custom-styles.css}" rel="stylesheet"/>
    <!--//Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans'
          th:href="@{http://fonts.googleapis.com/css?family=Open+Sans}" rel='stylesheet' type='text/css'/>
    <link href="../../static/custom/css/common.css"
          th:href="@{/custom/css/common.css}" rel="stylesheet"/>
    <link href="../../static/assets/plugins/selector/css/bootstrap-select.min.css"
          th:href="@{/assets/plugins/selector/css/bootstrap-select.min.css}" rel="stylesheet">
    <!-- include summernote css/js -->
    <link href="../../static/assets/plugins/summernote/summernote.css"
          th:href="@{/assets/plugins/summernote/summernote.css}" rel="stylesheet"/>

</head>

<body>
<div id="wrapper">
    <!-- top side start-->
    <div th:include="admin/template/top_side_template :: admin_topside"></div>
    <!-- top side end-->
    <!-- left side start-->
    <nav class="navbar-default navbar-side" role="navigation"
         th:include="admin/template/left_side_template :: leftside"></nav>
    <!-- left side end-->
    <div id="page-wrapper">
        <div id="header" class="header">
            <ol class="breadcrumb">
                <li><a href="index.html">资源管理</a></li>
                <li class="active">文档编辑</li>
            </ol>
        </div>

        <div id="page-inner">
            <div class="panel panel-default" style="margin-top: -30px;">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-10">
                            <form class="form-inline"  >
                                <div class="form-group">
                                    <label for="edit-title">标题:</label>
                                    <input type="text" class="form-control" id="edit-title" style="width: 1000px;"
                                           th:value="${document.title}">
                                </div>
                            </form>
                            <form class="form-inline"  >
                                <div class="form-group">
                                    <label for="edit-id">文档id:</label>
                                    <input type="text" class="form-control" id="edit-id" readonly
                                           th:value="${document.id}">
                                </div>
                                <div class="form-group">
                                    <label for="edit-infor">备注:</label>
                                    <input type="text" class="form-control" id="edit-infor"
                                           th:value="${document.infor}">
                                </div>
                                <div class="form-group">
                                    <label for="edit-group">组别:</label>
                                    <select id="edit-group" class="form-control  selectpicker" title="选择组别">
                                        <option value="1" data-content="<span class='label label-success'>无</span>">无</option>
                                        <option value="2" data-content="<span class='label label-success'>数据组</span>">数据组</option>
                                        <option value="3" data-content="<span class='label label-success'>数据组</span>">网络组</option>
                                        <option value="4" data-content="<span class='label label-danger'>机器人组</span>">机器人组</option>
                                        <option value="5" data-content="<span class='label label-info'>太赫兹组</span>">太赫兹组</option>
                                        <option value="6" data-content="<span class='label label-success'>数据组</span>">高分高性能组</option>
                                    </select>
                                </div>
                                <div class="form-group" style="margin-left: 20px;">
                                    <button type="button" class="btn" id="btn-save-document"><i class="fa fa-save"></i> 保存</button>
                                </div>
                                <div class="form-group" style="margin-left: 20px;">
                                    <button type="button" class="btn btn-danger" id="btn-clear-document">
                                        <i class="fa fa-trash-o"></i> 清空内容
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>
                                <span style="color: #00be67">tips:</span>
                                <kbd>CTRL+Z:</kbd>
                                <span>撤销 &nbsp;&nbsp;</span>
                                <kbd>CTRL+Y:</kbd>
                                <span>重做</span>

                            </div>
                            <div id="summernote-div" style="text-align: center;height:800px; max-width: 1100px;">
                                Hello Summernote
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9" style="text-align: center;">
                            <button type="button" class="btn btn-info" id="btn-preview-document">
                                <i class="fa fa-eye"></i> 预览
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div id="view-panel" class="panel panel-info" style="margin-top:50px;max-width: 1100px;">
                                <div class="panel-heading">
                                    <h3 class="panel-title">预览效果</h3>
                                </div>
                                <div class="panel-body">
                                    <div id="document-preview" style="max-width: 1100px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /. ROW  -->
            <footer th:include="admin/template/footer_template :: admin_footer">
            </footer>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="../../static/assets/plugins/summernote/jquery.js"
        th:src="@{/assets/plugins/summernote/jquery.js}"></script>
<!--<script src="../../static/assets/js/jquery-1.10.2.js"-->
        <!--th:src="@{/assets/js/jquery-1.10.2.js}"></script>-->
<!-- Bootstrap Js -->
<script src="../../static/assets/js/bootstrap.min.js"
        th:src="@{/assets/js/bootstrap.min.js}"></script>
<!--<script src="../../static/assets/materialize/js/materialize.min.js"-->
        <!--th:src="@{/assets/materialize/js/materialize.min.js}"></script>-->
<!-- Metis Menu Js -->
<script src="../../static/assets/js/jquery.metisMenu.js"
        th:src="@{/assets/js/jquery.metisMenu.js}"></script>
<!-- DATA TABLE SCRIPTS -->
<script src="../../static/assets/js/dataTables/jquery.dataTables.js"
        th:src="@{/assets/js/dataTables/jquery.dataTables.js}"></script>
<script src="../../static/assets/js/dataTables/dataTables.bootstrap.js"
        th:src="@{/assets/js/dataTables/dataTables.bootstrap.js}"></script>
<!-- lhgdialog -->
<script src="../../static/assets/plugins/lhgdialog/lhgdialog.min.js"
        th:src="@{/assets/plugins/lhgdialog/lhgdialog.min.js}"></script>
<!-- SpinJS-->
<script src="../../static/assets/plugins/spin-2.1.0/jquery.spin.merge.js"
        th:src="@{/assets/plugins/spin-2.1.0/jquery.spin.merge.js}"></script>
<script src="../../static/assets/plugins/selector/js/bootstrap-select.min.js"
        th:src="@{/assets/plugins/selector/js/bootstrap-select.min.js}"></script>

<!--<script>-->
    <!--var jq321= jQuery.noConflict(true);;-->
<!--</script>-->
<script src="../../static/assets/plugins/summernote/summernote.min.js"
        th:src="@{/assets/plugins/summernote/summernote.min.js}"></script>
<script src="../../static/assets/plugins/summernote/lang/summernote-zh-CN.js"
        th:src="@{/assets/plugins/summernote/lang/summernote-zh-CN.js}"></script>
<script src="../../static/custom/js/common.js"
        th:src="@{/custom/js/common.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var content = /*[[${document.content}]]*/ 2;
    /*]]>*/
</script>

<script src="../../static/custom/js/document_edit.js"
        th:src="@{/custom/js/document_edit.js}"></script>

</body>

</html>