<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>LLCWEB管理平台</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
    <link href="../../static/assets/materialize/css/materialize.min.css"
          th:href="@{/assets/materialize/css/materialize.min.css}" media="screen,projection" rel="stylesheet"/>
    <!-- Bootstrap Styles-->
    <link href="../../static/assets/css/bootstrap.css"
          th:href="@{/assets/css/bootstrap.css}" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="../../static/assets/font-awesome-4.7.0/css/font-awesome.css"
          th:href="@{/assets/font-awesome-4.7.0/css/font-awesome.css}" rel="stylesheet"/>

    <!-- Custom Styles-->
    <link href="../../static/assets/css/custom-styles.css"
          th:href="@{/assets/css/custom-styles.css}" rel="stylesheet"/>
    <!--//Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans'
          th:href="@{http://fonts.googleapis.com/css?family=Open+Sans}" rel='stylesheet' type='text/css'/>
    <link href="../../static/custom/css/common.css"
          th:href="@{/custom/css/common.css}" rel="stylesheet"/>
    <link href="../../static/assets/plugins/selector/css/bootstrap-select.min.css"
          th:href="@{/assets/plugins/selector/css/bootstrap-select.min.css}" rel="stylesheet">
</head>


<body>
<div id="wrapper">
    <!-- top side start-->
    <div th:include="admin/template/top_side_template :: admin_topside"></div>
    <!-- top side end-->
    <!-- left side start-->
    <nav class="navbar-default navbar-side" role="navigation"
         th:include="admin/template/left_side_template :: leftside"></nav>
    <!-- left side end-->
    <div id="page-wrapper">
        <div id="header" class="header">
            <!--<h3 class="page-header">-->
            <!--Dashboard-->
            <!--</h3>-->
            <ol class="breadcrumb">
                <li><a href="index.html">成果管理</a></li>
                <li class="active">项目管理</li>
            </ol>
        </div>
        <div id="page-inner">
            <div class="panel panel-default" style="margin-top: -30px;">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-7">
                            <form class="form-inline" role="form" style="float: right;">
                                <div class="form-group">
                                    <label class="sr-only" for="search-name">输入关键词</label>
                                    <input type="text" class="form-control" id="search-name" placeholder="请输入关键词">
                                    <button type="button" class="btn btn-info" id="btn-advanced-search"><i
                                            class="fa fa-search"></i> 查询
                                    </button>
                                </div>
                                <div class="form-group" style="margin-left: 20px;">
                                    <button type="button" class="btn" id="btn-add-user"><i
                                            class="fa fa-plus-circle"></i> 添加项目
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-7">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover"
                                       id="paper-table">
                                    <thead>
                                    <tr>
                                        <th>项目名称</th>
                                        <th>项目状态</th>
                                        <th>项目类型</th>
                                        <th>项目负责人</th>
                                        <th>开始时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tb-body">
                                    <tr>
                                        <td>dfsdfasdfdgdfgfhfhfghdgdgsdfgshfhjjfh</td>
                                        <td>sdfasdfasttygbfghfsddddddddsrfh</td>
                                        <td>asdfasdfsdfasdfasdfasdf</td>
                                        <td>项目负责人</td>
                                        <td>2018-10-01</td>
                                        <td>操作</td>
                                    </tr>
                                    <tr>
                                        <td>dfsdfasdfdhdgdgsdfgsdfgshfhjjfh</td>
                                        <td>sdfasdfasttygbfghfbncvsrfh</td>
                                        <td>asdfasdfsdfasdfasfasdf</td>
                                        <td>角色权限</td>
                                        <td>2018-10-02</td>
                                        <td>操作</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <!--view panel 展示对应的信息-->
                            <div id="view-panel" class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">项目详细信息</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-2" style="text-align: right;">
                                            <label for="view-project_name">项目名称：</label>
                                        </div>
                                        <div class="col-md-10">
                                            <span id="view-project_name" class="form-control-static">项目名称</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2" style="text-align: right;">
                                            <label for="view-require_num">项目编号：</label>
                                        </div>
                                        <div class="col-md-10">
                                            <span id="view-require_num" class="form-control-static">项目编号</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2" style="text-align: right;">
                                            <label for="view-research_field">研究领域：</label>
                                        </div>
                                        <div class="col-md-10">
                                            <span id="view-research_field" class="form-control-static">研究领域</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2" style="text-align: right;">
                                            <label for="view-start_date">开始时间：</label>
                                        </div>
                                        <div class="col-md-10">
                                            <span id="view-start_date" class="form-control-static">开始时间</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2" style="text-align: right;">
                                            <label for="view-end_date">结束时间：</label>
                                        </div>
                                        <div class="col-md-10">
                                            <span id="view-end_date" class="form-control-static">结束时间</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2" style="text-align: right;">
                                            <label for="view-members">参与人员：</label>
                                        </div>
                                        <div class="col-md-10">
                                            <span id="view-members" class="form-control-static">参与人员</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2" style="text-align: right;">
                                            <label for="view-team">承担小组：</label>
                                        </div>
                                        <div class="col-md-10">
                                            <span id="view-team" class="form-control-static">承担小组</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2" style="text-align: right;">
                                            <label for="view-host_unit">主办单位：</label>
                                        </div>
                                        <div class="col-md-10">
                                            <span id="view-host_unit" class="form-control-static">主办单位</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2" style="text-align: right;">
                                            <label for="view-co_unit">协办单位：</label>
                                        </div>
                                        <div class="col-md-10">
                                            <span id="view-co_unit" class="form-control-static">协办单位</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2" style="text-align: right;">
                                            <label for="view-undertake_unit">承办单位：</label>
                                        </div>
                                        <div class="col-md-10">
                                            <span id="view-undertake_unit" class="form-control-static">承办单位</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--add panel  -->
                            <div id="add-panel" class="panel panel-primary" style="display: none;">
                                <div class="panel-heading">
                                    <h3 id="add-panel-title" class="panel-title">添加项目记录</h3>
                                </div>
                                <div class="panel-body">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">项目ID：</label>
                                            <div class="col-sm-10">
                                                <input id="add-id" type="text" class="form-control" placeholder="" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">项目名称：</label>
                                            <div class="col-sm-10">
                                                <input id="add-project_name" type="text" class="form-control"
                                                       placeholder="项目名称">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">项目状态：</label>
                                            <div class="col-sm-10">
                                                <input id="add-status" type="text" class="form-control"
                                                       placeholder="项目状态(未开始、进行中、完成等)">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">项目类型：</label>
                                            <div class="col-sm-10">
                                                <input id="add-project_type" type="text" class="form-control"
                                                       placeholder="项目类型">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">项目负责人：</label>
                                            <div class="col-sm-10">
                                                <input id="add-responsible_person" type="text" class="form-control"
                                                       placeholder="项目负责人">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">开始时间：</label>
                                            <div class="col-sm-10">
                                                <input id="add-start_date" type="text" class="form-control"
                                                       placeholder="开始时间">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">结束时间：</label>
                                            <div class="col-sm-10">
                                                <input id="add-end_date" type="text" class="form-control"
                                                       placeholder="结束时间">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">项目编号：</label>
                                            <div class="col-sm-10">
                                                <input id="add-require_num" type="text" class="form-control"
                                                       placeholder="项目编号">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">研究领域：</label>
                                            <div class="col-sm-10">
                                                <input id="add-research_field" type="text" class="form-control"
                                                       placeholder="研究领域">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">参与人员：</label>
                                            <div class="col-sm-10">
                                                <input id="add-members" type="text" class="form-control"
                                                       placeholder="参与人员">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">承担小组：</label>
                                            <div class="col-sm-10">
                                                <input id="add-team" type="text" class="form-control"
                                                       placeholder="承担小组">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">主办单位：</label>
                                            <div class="col-sm-10">
                                                <input id="add-host_unit" type="text" class="form-control"
                                                       placeholder="主办单位">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">协办单位：</label>
                                            <div class="col-sm-10">
                                                <input id="add-co_unit" type="text" class="form-control"
                                                       placeholder="协办单位">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">承办单位：</label>
                                            <div class="col-sm-10">
                                                <input id="add-undertake_unit" type="text" class="form-control"
                                                       placeholder="承办单位">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">项目介绍：</label>
                                            <div class="col-sm-7">
                                                <select id="add-introduction" class="form-control selectpicker" title="选择关联介绍文档">
                                                    <option value="0" >无</option>
                                                    <option value="1" >文档一对对对1</option>
                                                    <option value="2" >文档一对对对1文件2</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-1">
                                                <button id="btn-refresh-selector" class="btn btn-primary" type="button"
                                                        data-toggle="tooltip" data-placement="bottom" title="刷新选择框">
                                                    <i class="fa fa-refresh"></i> </button>
                                            </div>
                                            <div class="col-sm-1">
                                                <button id="btn-edit-document" class="btn btn-warning" type="button"
                                                        data-toggle="tooltip" data-placement="bottom" title="编辑项目介绍文档">
                                                    <i class="fa fa-edit"></i> </button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-2 ">
                                            </div>
                                            <div class="col-sm-2 ">
                                                <button id="btn-add-save" type="button"
                                                        class="btn btn-info">保存
                                                </button>
                                            </div>
                                            <div class="col-sm-2">
                                                <button id="btn-add-cancel" type="button"
                                                        class="btn btn-warning">取消
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-10">
                            <div id="preview-panel" class="panel panel-info" style="margin-top:50px;max-width: 1100px;">
                                <div class="panel-heading">
                                    <h3 class="panel-title">项目介绍</h3>
                                </div>
                                <div class="panel-body">
                                    <div id="document-preview" style="max-width: 1100px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /. ROW  -->
            <footer th:include="admin/template/footer_template :: admin_footer">
            </footer>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="../../static/assets/js/jquery-1.10.2.js"
        th:src="@{/assets/js/jquery-1.10.2.js}"></script>
<!-- Bootstrap Js -->
<script src="../../static/assets/js/bootstrap.min.js"
        th:src="@{/assets/js/bootstrap.min.js}"></script>
<script src="../../static/assets/materialize/js/materialize.min.js"
        th:src="@{/assets/materialize/js/materialize.min.js}"></script>
<!-- Metis Menu Js -->
<script src="../../static/assets/js/jquery.metisMenu.js"
        th:src="@{/assets/js/jquery.metisMenu.js}"></script>
<!-- DATA TABLE SCRIPTS -->
<script src="../../static/assets/js/dataTables/jquery.dataTables.js"
        th:src="@{/assets/js/dataTables/jquery.dataTables.js}"></script>
<script src="../../static/assets/js/dataTables/dataTables.bootstrap.js"
        th:src="@{/assets/js/dataTables/dataTables.bootstrap.js}"></script>
<!-- lhgdialog -->
<script src="../../static/assets/plugins/lhgdialog/lhgdialog.min.js"
        th:src="@{/assets/plugins/lhgdialog/lhgdialog.min.js}"></script>
<!-- SpinJS-->
<script src="../../static/assets/plugins/spin-2.1.0/jquery.spin.merge.js"
        th:src="@{/assets/plugins/spin-2.1.0/jquery.spin.merge.js}"></script>
<script src="../../static/assets/plugins/selector/js/bootstrap-select.min.js"
        th:src="@{/assets/plugins/selector/js/bootstrap-select.min.js}"></script>
<script src="../../static/custom/js/common.js"
        th:src="@{/custom/js/common.js}"></script>
<script src="../../static/custom/js/gain_projects.js"
        th:src="@{/custom/js/gain_projects.js}"></script>
</body>

</html>