<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>LLCWEB管理平台</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
    <link href="../../static/assets/materialize/css/materialize.min.css"
          th:href="@{/assets/materialize/css/materialize.min.css}" media="screen,projection" rel="stylesheet"/>
    <!-- Bootstrap Styles-->
    <link href="../../static/assets/css/bootstrap.css"
          th:href="@{/assets/css/bootstrap.css}" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="../../static/assets/font-awesome-4.7.0/css/font-awesome.css"
          th:href="@{/assets/font-awesome-4.7.0/css/font-awesome.css}" rel="stylesheet"/>


    <!-- Custom Styles-->
    <link href="../../static/assets/css/custom-styles.css"
          th:href="@{/assets/css/custom-styles.css}" rel="stylesheet"/>
    <!--//Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans'
          th:href="@{http://fonts.googleapis.com/css?family=Open+Sans}" rel='stylesheet' type='text/css'/>
    <link href="../../static/custom/css/common.css"
          th:href="@{/custom/css/common.css}" rel="stylesheet"/>
    <link href="../../static/assets/plugins/selector/css/bootstrap-select.min.css"
          th:href="@{/assets/plugins/selector/css/bootstrap-select.min.css}" rel="stylesheet">
</head>

<body>
<div id="wrapper">
    <!-- top side start-->
    <div th:include="admin/template/top_side_template :: admin_topside"></div>
    <!-- top side end-->
    <!-- left side start-->
    <nav class="navbar-default navbar-side" role="navigation"
         th:include="admin/template/left_side_template :: leftside"></nav>
    <!-- left side end-->
    <div id="page-wrapper">
        <div id="header" class="header">
            <!--<h3 class="page-header">-->
            <!--Dashboard-->
            <!--</h3>-->
            <ol class="breadcrumb">
                <li><a href="index.html">资源管理</a></li>
                <li class="active">文档管理</li>
            </ol>
        </div>

        <div id="page-inner">
            <div class="panel panel-default" style="margin-top: -30px;">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-10">
                            <form class="form-inline" role="form" style="float: right;">
                                <div class="form-group">
                                    <label class="sr-only" for="search-value">模糊查询</label>
                                    <input type="text" class="form-control" id="search-value" placeholder="请输入关键字">
                                    <button type="button" class="btn btn-info" id="btn-search"><i class="fa fa-search"></i> 查询</button>
                                </div>
                                <div class="form-group" style="margin-left: 20px;">
                                    <button type="button" class="btn btn-default" id="btn-advanced-search"><i class="fa fa-search-plus"></i> 高级查询</button>
                                </div>
                                <div class="form-group" style="margin-left: 20px;">
                                    <button type="button" class="btn" id="btn-add-document"><i class="fa fa-plus-circle"></i> 添加文档</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover"
                                       id="document-table">
                                    <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>作者</th>
                                        <th>标题</th>
                                        <th>注释</th>
                                        <th>组别</th>
                                        <th>创建时间</th>
                                        <th>更新时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tb-body">
                                    <tr>
                                        <td>1</td>
                                        <td>作者</td>
                                        <td>标题</td>
                                        <td>注释</td>
                                        <td>组别</td>
                                        <td>创建时间</td>
                                        <td>更新时间</td>
                                        <td>操作</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>作者</td>
                                        <td>标题</td>
                                        <td>注释</td>
                                        <td>组别</td>
                                        <td>创建时间</td>
                                        <td>更新时间</td>
                                        <td>操作</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-info">
                                <div class="panel-heading">

                                    <h3 class="panel-title">文档内容:<span  id="view-title" style="color: #e12fab;">标题</span></h3>
                                </div>
                                <div class="panel-body" style="text-align: center;">
                                    <div id="view-content" style="max-width: 1100px;">
                                        sdfhsdifuahsdifasldkhfasifuhya
                                        sadkfhasidufasi
                                        fhweweksdjhfisf
                                        slhfsidufhsifu

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
            <!-- /. ROW  -->


            <footer th:include="admin/template/footer_template :: admin_footer">
            </footer>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="../../static/assets/js/jquery-1.10.2.js"
        th:src="@{/assets/js/jquery-1.10.2.js}"></script>
<!-- Bootstrap Js -->
<script src="../../static/assets/js/bootstrap.min.js"
        th:src="@{/assets/js/bootstrap.min.js}"></script>
<script src="../../static/assets/materialize/js/materialize.min.js"
        th:src="@{/assets/materialize/js/materialize.min.js}"></script>
<!-- Metis Menu Js -->
<script src="../../static/assets/js/jquery.metisMenu.js"
        th:src="@{/assets/js/jquery.metisMenu.js}"></script>
<!-- DATA TABLE SCRIPTS -->
<script src="../../static/assets/js/dataTables/jquery.dataTables.js"
        th:src="@{/assets/js/dataTables/jquery.dataTables.js}"></script>
<script src="../../static/assets/js/dataTables/dataTables.bootstrap.js"
        th:src="@{/assets/js/dataTables/dataTables.bootstrap.js}"></script>
<!-- lhgdialog -->
<script src="../../static/assets/plugins/lhgdialog/lhgdialog.min.js"
        th:src="@{/assets/plugins/lhgdialog/lhgdialog.min.js}"></script>
<!-- SpinJS-->
<script src="../../static/assets/plugins/spin-2.1.0/jquery.spin.merge.js"
        th:src="@{/assets/plugins/spin-2.1.0/jquery.spin.merge.js}"></script>
<script src="../../static/assets/plugins/selector/js/bootstrap-select.min.js"
        th:src="@{/assets/plugins/selector/js/bootstrap-select.min.js}"></script>

<script src="../../static/custom/js/common.js"
        th:src="@{/custom/js/common.js}"></script>
<script src="../../static/custom/js/resource_document.js"
        th:src="@{/custom/js/resource_document.js}"></script>


</body>

</html>