<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>LLCWEB管理平台</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
    <link href="../../static/assets/materialize/css/materialize.min.css"
          th:href="@{/assets/materialize/css/materialize.min.css}" media="screen,projection" rel="stylesheet"/>
    <!-- Bootstrap Styles-->
    <link href="../../static/assets/css/bootstrap.css" th:href="@{/assets/css/bootstrap.css}" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="../../static/assets/font-awesome-4.7.0/css/font-awesome.css"
          th:href="@{/assets/font-awesome-4.7.0/css/font-awesome.css}" rel="stylesheet"/>

    <!-- Custom Styles-->
    <link href="../../static/assets/css/custom-styles.css" th:href="@{/assets/css/custom-styles.css}" rel="stylesheet"/>
    <!--//Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans'
          th:href="@{http://fonts.googleapis.com/css?family=Open+Sans}" rel='stylesheet' type='text/css'/>
    <link href="../../static/custom/css/common.css" th:href="@{/custom/css/common.css}" rel="stylesheet"/>
    <link href="../../static/assets/plugins/selector/css/bootstrap-select.min.css"
          th:href="@{/assets/plugins/selector/css/bootstrap-select.min.css}" rel="stylesheet">
    <style type="text/css">
        .con4 {
            width: 200px;
            height: auto;
            overflow: hidden;
            margin: 20px auto;
            color: #FFFFFF;
        }

        .con4 .btn {
            width: 100%;
            height: 40px;
            line-height: 40px;
            text-align: center;
            background: #d8b49c;
            display: block;
            font-size: 16px;
            border-radius: 5px;
        }

        .upload {
            float: left;
            position: relative;
        }

        .upload_pic {
            display: block;
            width: 100%;
            height: 40px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            border-radius: 5px;
        }

        #result {
            border: 1px solid #000;
            margin: 0px 0 20px 50px;
        }
    </style>
</head>

<body>
<div id="wrapper">
    <!-- top side start-->
    <div th:include="admin/template/top_side_template :: admin_topside"></div>
    <!-- top side end-->
    <!-- left side start-->
    <nav class="navbar-default navbar-side" role="navigation"
         th:include="admin/template/left_side_template :: leftside"></nav>
    <!-- left side end-->
    <div id="page-wrapper">
        <div id="header" class="header">
            <!--<h3 class="page-header">-->
            <!--Dashboard-->
            <!--</h3>-->
            <ol class="breadcrumb">
                <li><a href="index.html">系统管理</a></li>
                <li class="active">人员信息</li>
            </ol>
        </div>
        <div id="page-inner">
            <div class="panel panel-default" style="margin-top: -30px;">
                <div class="panel-body">
                    <!--view panel 展示人员对应的信息-->
                    <div id="view-panel" class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">人员对应详细信息</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">姓名：</label>
                                            <div class="col-sm-8">
                                                <p id="view-name" class="form-control-static"></p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">学历：</label>
                                            <div class="col-sm-8">
                                                <p id="view-highest_degree" class="form-control-static"></p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">年级：</label>
                                            <div class="col-sm-8">
                                                <p id="view-grade" class="form-control-static"></p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">研究方向：</label>
                                            <div class="col-sm-8">
                                                <p id="view-research_field" class="form-control-static"></p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">头像：</label>
                                            <span id="view-portrait"></span>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-8">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">个人简介</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div id="document-preview" style="min-height: 200px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="add-panel" class="panel panel-info" style="display: none;">
                        <div class="panel-heading">
                            <h3 class="panel-title" id="add-panel-title">添加人员信息</h3>
                        </div>
                        <div class="row panel-body">
                            <div class="col-md-4">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group" style="display: none;">
                                        <label class="col-sm-4 control-label">id：</label>
                                        <div class="col-sm-7">
                                            <input id="add-id" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">姓名：</label>
                                        <div class="col-sm-7">
                                            <input id="add-name" type="text" class="form-control" placeholder="输入姓名">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">性别：</label>
                                        <div class="col-sm-7">
                                            <select id="add-sex" class="form-control large selectpicker" title="选择">
                                                <option value="男"
                                                        data-content="<span class='label label-info'>男</span>"></option>
                                                <option value="女"
                                                        data-content="<span class='label label-warning'>女</span>"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">手机号：</label>
                                        <div class="col-sm-7">
                                            <input id="add-phone" type="text" class="form-control" placeholder="输入手机号">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">邮箱：</label>
                                        <div class="col-sm-7">
                                            <input id="add-email" type="text" class="form-control" placeholder="输入邮箱">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">职位：</label>
                                        <div class="col-sm-7">
                                            <input id="add-position" type="text" class="form-control"
                                                   placeholder="输入职位">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-3">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label">选择头像：</label>
                                        <input class="col-sm-7" id="btn-upload-image" class="validate"
                                               onchange="imgChange(this,'img-upload-preview')" type="file" name="file">
                                    </div>
                                    <div class="form-group">
                                        <img id="img-upload-preview" style="height:100px;width:100px;display: none;"
                                             src="#"/>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-5">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">年份：</label>
                                        <div class="col-sm-7">
                                            <input id="add-grade" type="text" class="form-control"
                                                   title="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">最高学历：</label>
                                        <div class="col-sm-7">
                                            <input id="add-highest_degree" type="text" class="form-control"
                                                   placeholder="最高学历">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="add-research_field">研究方向：</label>
                                        <div class="col-sm-7">
                                            <input  id="add-research_field" type="text" class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">简介：</label>
                                        <div class="col-sm-6">
                                            <select id="add-introduction" class="form-control large selectpicker"
                                                    title="选择关联简介">
                                                <option value="1">文件1</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-1">
                                            <button id="btn-refresh-selector" class="btn btn-primary" type="button"
                                                    data-toggle="tooltip" data-placement="bottom" title="刷新选择框">
                                                <i class="fa fa-refresh"></i> </button>
                                        </div>
                                        <div class="col-sm-1">
                                            <button id="btn-edit-document" class="btn btn-warning" type="button"
                                                    data-toggle="tooltip" data-placement="bottom" title="编辑活动内容文档">
                                                <i class="fa fa-edit"></i> </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <div class="col-sm-4 ">
                                    </div>
                                    <div class="col-sm-2 ">
                                        <button id="btn-add-save" type="button" class="btn btn-info">保存</button>
                                    </div>
                                    <div class="col-md-2"></div>
                                    <div class="col-sm-2">
                                        <button id="btn-add-cancel" type="button" class="btn btn-warning">取消</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <form class="form-inline" role="form" style="float: right;">
                                <div class="form-group">
                                    <label class="sr-only" for="search-name">输入关键词</label>
                                    <input type="text" class="form-control" id="search-name" placeholder="请输入关键词">
                                    <button type="button" class="btn btn-info" id="btn-advanced-search"><i
                                            class="fa fa-search"></i> 查询
                                    </button>
                                </div>
                                <div class="form-group" style="margin-left: 20px;">
                                    <button type="button" class="btn" id="btn-add-people"><i
                                            class="fa fa-plus-circle"></i> 添加人员
                                    </button>
                                </div>
                                <div class="form-group" style="margin-left: 20px;">
                                    <button type="button" class="btn" id="btn-edit-bt"><i class="fa fa-edit"></i> 编辑测试按钮
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="people-table">
                                    <thead>
                                    <tr>
                                        <th>姓名</th>
                                        <th>性别</th>
                                        <th>手机号</th>
                                        <th>邮箱</th>
                                        <th>职位</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tb-body">
                                    <tr>
                                        <td>gkkkooo</td>
                                        <td>12345678910</td>
                                        <td>2567812439qq.com</td>
                                        <td>jjjjjghj</td>
                                        <td>ykkykkykk</td>
                                        <td>操作</td>
                                    </tr>
                                    <tr>
                                        <td>sdfasdfa</td>
                                        <td>gkkkooo</td>
                                        <td>23321578564</td>
                                        <td>2673390121qq.com</td>
                                        <td>jjjjjghj</td>
                                        <td>操作</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /. ROW  -->
            <footer th:include="admin/template/footer_template :: admin_footer">
            </footer>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="../../static/assets/js/jquery-1.10.2.js" th:src="@{/assets/js/jquery-1.10.2.js}"></script>
<!-- Bootstrap Js -->
<script src="../../static/assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>
<script src="../../static/assets/materialize/js/materialize.min.js"
        th:src="@{/assets/materialize/js/materialize.min.js}"></script>
<!-- Metis Menu Js -->
<script src="../../static/assets/js/jquery.metisMenu.js" th:src="@{/assets/js/jquery.metisMenu.js}"></script>
<!-- DATA TABLE SCRIPTS -->
<script src="../../static/assets/js/dataTables/jquery.dataTables.js"
        th:src="@{/assets/js/dataTables/jquery.dataTables.js}"></script>
<script src="../../static/assets/js/dataTables/dataTables.bootstrap.js"
        th:src="@{/assets/js/dataTables/dataTables.bootstrap.js}"></script>
<!-- lhgdialog -->
<script src="../../static/assets/plugins/lhgdialog/lhgdialog.min.js"
        th:src="@{/assets/plugins/lhgdialog/lhgdialog.min.js}"></script>
<!-- SpinJS-->
<script src="../../static/assets/plugins/spin-2.1.0/jquery.spin.merge.js"
        th:src="@{/assets/plugins/spin-2.1.0/jquery.spin.merge.js}"></script>
<script src="../../static/assets/plugins/selector/js/bootstrap-select.min.js"
        th:src="@{/assets/plugins/selector/js/bootstrap-select.min.js}"></script>
<script src="../../static/custom/js/common.js" th:src="@{/custom/js/common.js}"></script>
<script src="../../static/custom/js/system_people.js" th:src="@{/custom/js/system_people.js}"></script>
</body>

</html>