<!DOCTYPE html>
<!--本文件用于前端测试使用，后台已经解析路径"/test.html" 即可访问-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>计划管理</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
    <link href="../../static/assetss/materialize/css/materialize.min.css"
          th:href="@{assetss/materialize/css/materialize.min.css}" rel="stylesheet"/>
    <!-- Bootstrap Styles-->
    <link href="../../static/assetss/css/bootstrap.css"
          th:href="@{/assetss/css/bootstrap.css}" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="../../static/assetss/font-awesome-4.7.0/css/font-awesome.css"
          th:href="@{/assetss/font-awesome-4.7.0/css/font-awesome.css}" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="../../static/assetss/css/custom-styles.css"
          th:href="@{/assetss/css/custom-styles.css}" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans'
          th:href="@{http://fonts.googleapis.com/css?family=Open+Sans}" rel='stylesheet' type='text/css'/>

    <!-- commom Styles-->
    <link href="../../static/custom/css/common.css"
          th:href="@{/custom/css/common.css}" rel="stylesheet"/>

    <link href="../../static/assetss/plugins/selector/css/bootstrap-select.min.css"
          th:href="@{/assetss/plugins/selector/css/bootstrap-select.min.css}" rel="stylesheet">
    <style>
        .special {
            font-weight: bold !important;
            color: #fff !important;
            background: #bc0000 !important;
            text-transform: uppercase;
        }

    </style>
</head>

<body>

<div id="wrapper">
    <!-- top side start-->
    <div  th:include="template/top_side_template :: topside"></div>
    <!-- top side end-->
    <!-- left side start-->
    <nav class="navbar-default navbar-side" role="navigation"
         th:include="template/left_side_template :: leftside"></nav>
    <!-- left side end-->
    <div id="page-wrapper">
        <div id="header" class="header">
            <ol class="breadcrumb">
                <li><a href="#">计划监控</a></li>
                <li class="active">计划管理</li>
            </ol>
        </div>

        <div id="page-inner">
            <div class="row" style="margin-top: -40px;">
                <div class="col-md-12">
                    <!--<iframe th:src="@{/iframe/workers.html}"-->
                            <!--src="./iframe/plan.html" frameborder=0 allowfullscreen></iframe>-->
                </div>
                <div class="col-md-12">
                    <div id="plan-panel">
                        <!---->
                        <!--计划详细信息面板-->
                        <!--计划表格-->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <select id="select-test" class="form-control selectpicker" title="请选择省份11111" multiple>
                    </select>
                </div>
                <div class="col-md-6">
                    <!-- 按钮触发模态框 -->
                    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                        开始演示模态框
                    </button>
                </div>
            </div>
            <footer th:include="template/footer_template :: my_footer">
            </footer>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    模态框（Modal）标题
                </h4>
            </div>
            <div class="modal-body">
                在这里添加一些文本
            </div>
            <div class="modal-body">
                在这里添加一些文本
            </div>
            <div class="modal-body">
                在这里添加一些文本
            </div>
            <div class="modal-body">
                在这里添加一些文本
            </div>
            <div class="modal-body">
                在这里添加一些文本
            </div>
            <div class="modal-body">
                在这里添加一些文本
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary">
                    提交更改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="../../static/assetss/js/jquery-1.10.2.js"
        th:src="@{/assetss/js/jquery-1.10.2.js}"></script>
<!-- Bootstrap Js -->
<script src="../../static/assetss/js/bootstrap.min.js"
        th:src="@{/assetss/js/bootstrap.min.js}"></script>
<!--&lt;!&ndash; Metis Menu Js &ndash;&gt;-->
<!--<script src="../../static/assetss/js/jquery.metisMenu.js"-->
        <!--th:src="@{/assetss/js/jquery.metisMenu.js}"></script>-->
<!--&lt;!&ndash;通用 Custom Js &ndash;&gt;-->
<!--<script src="../../static/assetss/js/custom-scripts.js"-->
        <!--th:src="@{/assetss/js/custom-scripts.js}"></script>-->
<!--<script src="../../static/custom/js/common.js"-->
        <!--th:src="@{/custom/js/commom.js}"></script>-->

<script src="../../static/assetss/plugins/selector/js/bootstrap-select.min.js"
        th:src="@{/assetss/plugins/selector/js/bootstrap-select.min.js}"></script>

<script>

    $(document).ready(function () {
//        //$("#select-test").empty();
//        var option="";
//        for (var i =0 ; i<5;i++){
//            option+= "<option"+ " value='"+i+ "' data-content=\"<span class='label "+
//                (i%2 ? "label-success'>" : "label-warning'>")+
//                "name"+i +"</span>\">"+"name"+i+ "</option>";
//
//        }
//        alert(option);
//        $("#select-test").prepend(option);
//        //    刷新
//        $('#select-test').selectpicker('refresh');

    });
</script>
</body>

</html>