<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LLCWEB管理平台</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
    <link href="../../static/assets/materialize/css/materialize.min.css" th:href="@{/assets/materialize/css/materialize.min.css}" media="screen,projection" rel="stylesheet" />
    <!-- Bootstrap Styles-->
    <link href="../../static/assets/css/bootstrap.css" th:href="@{/assets/css/bootstrap.css}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="../../static/assets/font-awesome-4.7.0/css/font-awesome.css" th:href="@{/assets/font-awesome-4.7.0/css/font-awesome.css}" rel="stylesheet" />

    <!-- Custom Styles-->
    <link href="../../static/assets/css/custom-styles.css" th:href="@{/assets/css/custom-styles.css}" rel="stylesheet" />
    <!--//Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' th:href="@{http://fonts.googleapis.com/css?family=Open+Sans}" rel='stylesheet' type='text/css' />
    <link href="../../static/custom/css/common.css" th:href="@{/custom/css/common.css}" rel="stylesheet" />
    <link href="../../static/assets/plugins/selector/css/bootstrap-select.min.css" th:href="@{/assets/plugins/selector/css/bootstrap-select.min.css}" rel="stylesheet">
</head>

<body>
    <div id="wrapper">
        <!-- top side start-->
        <div th:include="admin/template/top_side_template :: admin_topside"></div>
        <!-- top side end-->
        <!-- left side start-->
        <nav class="navbar-default navbar-side" role="navigation" th:include="admin/template/left_side_template :: leftside"></nav>
        <!-- left side end-->
        <div id="page-wrapper">
            <div id="header" class="header">
                <!--<h3 class="page-header">-->
                <!--Dashboard-->
                <!--</h3>-->
                <ol class="breadcrumb">
                    <li><a href="index.html">管理平台</a></li>
                    <li class="active">个人中心</li>


                </ol>
            </div>
            <div id="page-inner">
                <div class="panel panel-default" style="margin-top: -30px;">
                    <div class="panel-body">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">个人资料</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <span>账号：</span><span th:text="${user.username}">admin</span>
                                                <button class="badge"><i class="fa fa-edit"></i></button>
                                            </li>
                                            <li class="list-group-item">
                                                <span>姓名：</span><span th:text="${person.name}">admin</span>
                                            </li>
                                            <li class="list-group-item">
                                                <span>职位：</span><span th:text="${person.position}">研究生</span>
                                            </li>
                                            <li class="list-group-item">
                                                <span>手机号：</span><span th:text="${person.phone}">1355478521</span>
                                            </li>
                                            <li class="list-group-item">
                                                <span>邮箱：</span><span th:text="${person.email}">admin@gdut.edu.cn</span>
                                            </li>
                                            <li class="list-group-item">
                                                <span>研究方向：</span><span th:text="${person.researchField}">大数据、人工智能、机器学习、数据挖掘、区块链</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="#"><img src="../../static/custom/images/img10.jpg" th:src="@{${imgPath}!=null?${imgPath}:'/custom/images/person-img.jpg'}" style="width: 120px;height: 120px;"></a>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="panel panel-primary">
                                            <div class="panel-body">
                                                <div class="row" id="add-panel" style="display: none;">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-sm-7">
                                                                <select id="add-introduction" class="form-control selectpicker" title="选择个人简介文档">
                                                                <option value="0" >无</option>
                                                                <option value="1" >文档一对对对1</option>
                                                                <option value="2" >文档一对对对1文件2</option>
                                                            </select>
                                                            </div>
                                                            <div class="col-sm-1">
                                                                <button id="btn-refresh-selector" class="btn btn-primary" type="button" data-toggle="tooltip" data-placement="bottom" title="刷新选择框">
                                                                <i class="fa fa-refresh"></i> </button>
                                                            </div>
                                                            <div class="col-sm-1">
                                                                <button id="btn-edit-document" class="btn btn-warning" type="button" data-toggle="tooltip" data-placement="bottom" title="编辑该文档">
                                                                <i class="fa fa-edit"></i></button>
                                                            </div>
                                                            <div class="col-sm-1">
                                                                <button id="btn-edit-save" class="btn btn-warning" type="button">
                                                                <i class="fa fa-save"></i>保存</button>
                                                            </div>
                                                            <div class="col-sm-1">
                                                                <button id="btn-edit-cancel" class="btn btn-warning" type="button">
                                                                <i class="fa fa-edit"></i>取消</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h4>个人简介 <button id="btn-edit-profile" class="badge"><i class="fa fa-edit"></i></button></h4>
                                                        <!--hr 样式怎么设置！！！！？？？？-->
                                                        <hr>
                                                        <div id="document-preview" style="max-width: 1100px;">
                                                            个人简介  个人简介
                                                            个人简介  个人简介
                                                            这个人很懒什么都没留下这个人很懒什么都没留下
                                                            这个人很懒什么都没留下这个人很懒什么都没留下
                                                            这个人很懒什么都没留下这个人很懒什么都没留下
                                                            这个人很懒什么都没留下这个人很懒什么都没留下
                                                            这个人很懒什么都没留下这个人很懒什么都没留下
                                                            这个人很懒什么都没留下这个人很懒什么都没留下
                                                            这个人很懒什么都没留下这个人很懒什么都没留下
                                                            这个人很懒什么都没留下这个人很懒什么都没留下
                                                            这个人很懒什么都没留下这个人很懒什么都没留下
                                                            这个人很懒什么都没留下这个人很懒什么都没留下
                                                            这个人很懒什么都没留下这个人很懒什么都没留下
                                                            这个人很懒什么都没留下这个人很懒什么都没留下
                                                            这个人很懒什么都没留下这个人很懒什么都没留下
                                                            这个人很懒什么都没留下这个人很懒什么都没留下
                                                            这个人很懒什么都没留下这个人很懒什么都没留下
                                                            这个人很懒什么都没留下这个人很懒什么都没留下
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /. ROW  -->
                <footer th:include="admin/template/footer_template :: admin_footer">
                </footer>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="../../static/assets/js/jquery-1.10.2.js" th:src="@{/assets/js/jquery-1.10.2.js}"></script>
    <!-- Bootstrap Js -->
    <script src="../../static/assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script src="../../static/assets/materialize/js/materialize.min.js" th:src="@{/assets/materialize/js/materialize.min.js}"></script>
    <!-- Metis Menu Js -->
    <script src="../../static/assets/js/jquery.metisMenu.js" th:src="@{/assets/js/jquery.metisMenu.js}"></script>
    <!-- DATA TABLE SCRIPTS -->
    <script src="../../static/assets/js/dataTables/jquery.dataTables.js" th:src="@{/assets/js/dataTables/jquery.dataTables.js}"></script>
    <script src="../../static/assets/js/dataTables/dataTables.bootstrap.js" th:src="@{/assets/js/dataTables/dataTables.bootstrap.js}"></script>
    <!-- lhgdialog -->
    <script src="../../static/assets/plugins/lhgdialog/lhgdialog.min.js" th:src="@{/assets/plugins/lhgdialog/lhgdialog.min.js}"></script>
    <!-- SpinJS-->
    <script src="../../static/assets/plugins/spin-2.1.0/jquery.spin.merge.js" th:src="@{/assets/plugins/spin-2.1.0/jquery.spin.merge.js}"></script>
    <script src="../../static/assets/plugins/selector/js/bootstrap-select.min.js" th:src="@{/assets/plugins/selector/js/bootstrap-select.min.js}"></script>
    <script src="../../static/custom/js/common.js" th:src="@{/custom/js/common.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var person = /*[[${person}]]*/ 'Sebastian';

        /*]]>*/
    </script>

    <script src="../../static/custom/js/user_home.js" th:src="@{/custom/js/user_home.js}"></script>
</body>

</html>