<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <!--<title>LLC实验室网站</title>-->
    <link rel="shortcut icon" href="../../../static/home/images/bitbug_favicon.ico"
    th:href="@{/home/images/bitbug_favicon.ico}"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../../../static/home/css/reset.css" rel="stylesheet" th:href="@{/home/css/reset.css}">
    <link href="../../../static/home/css/public.css" rel="stylesheet" th:href="@{/home/css/public.css}">
    <link href="../../../static/home/css/index.css" rel="stylesheet" th:href="@{/home/css/index.css}">
   <script type="text/javascript" src="../../../static/home/js/jquery-1.12.4.min.js" th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <meta name="description" content="jPaginate - jQuery Pagination Plugin"/>
    <meta name="keywords" content="jquery, plugin, pagination, fancy"/>
    <title>文化活动——广东省信息物理融合系统重点实验室</title>
    <link rel="stylesheet" href="../../../static/home/css/header.css" type="text/css" th:href="@{/home/css/header.css}"/>
    <link rel="stylesheet" href="../../../static/home/css/sidebar.css" type="text/css" th:href="@{/home/css/sidebar.css}">
    <link rel="stylesheet" href="../../../static/home/css/meeting.css" type="text/css" th:href="@{/home/css/meeting.css}"/>
    <link rel="stylesheet" href="../../../static/home/css/style.css" type="text/css" th:href="@{/home/css/style.css}"/>
    <link rel="stylesheet" href="../../../static/home/css/papers.css" type="text/css" th:href="@{/home/css/papers.css}"/>
    <link rel="stylesheet" href="../../../static/home/css/team.css" th:href="@{/home/css/team.css}">
    <script src="../../../static/home/Scripts/jquery.paginate.js" th:href="@{home/Scripts/jquery.paginate.js}"></script>
    <!-- <script src="../../../static/home/Scripts/lightbox/js/lightbox.js" th:href="@{/home/Scripts/lightbox/js/lightbox.js}" type="text/javascript"></script> -->
</head>
<body>
<div th:include="template/header_templateS :: header_templateS"></div>
<div class="middle">
    <div class="container middle_container">
        <div class="middle_content">
            <div class="middle_l" id="temlate_middle">
                <!-- <h1><span>机构概况</span></h1> -->
                <ul id='resultType' class="tmo_list2">
                    <li class="ll first"><span>文化活动</span></li>
                    <li class='ll'>
                        <a href='../Cultural_activity.html' class='ll_ref' style="background:#6ad;">
                            <i></i>
                            <span>往届回访</span>
                        </a>
                    </li>
                    <li class='ll'>
                        <a href='../Cultural_activity.html' class='ll_ref'>
                            <i></i>
                            <span>部门聚会</span>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="middle_r">
                <div class="crumb">
                    <ul id="crumbs">
                        <li><a href="../index.html">首页</a></li>
                        <li><span>&nbsp;/&nbsp;</span></li>
                        <li><a href="../Cultural_activity.html">文化活动</a></li>
                        <li><span>&nbsp;/&nbsp;</span></li>
                        <li><a href="">往届师兄师姐回访</a></li>
                        <li style="float:right;">
                            <a href="../Cultural_activity.html" style="font-size:12px;color:#2c76c7;">«返回</a>
                        </li>
                    </ul>
                </div>
                <div class="show">
                    <div class="team_head">
                        <div class="team_circle"></div>
                        <div class="team_line" style="width:100px;"></div>
                        <span>2017-7-10</span>
                        <div class="team_line" style="width:500px;"></div>
                    </div>
                    <ul class="picture_show">
                        <li>
                            <a class="example2-2" href="../../../static/home/images/labBrief.JPG" th:href="@{/home/images/labBrief.JPG}"
                                data-lightbox="newphoto" data-title=" ">
                                <img alt="往届师兄师姐回访" src="../../../static/home/images/labBrief.JPG" th:src="@{/home/images/labBrief.JPG}" width="220">
                            </a>
                        </li>
                        <li>
                            <a class="example2-2" href="../../../static/home/images/labBrief.JPG" th:href="@{/home/images/labBrief.JPG}"
                                data-lightbox="newphoto" data-title=" ">
                                <img alt="往届师兄师姐回访" src="../../../static/home/images/labBrief.JPG" th:src="@{/home/images/labBrief.JPG}" width="220">
                            </a>
                        </li>
                        <li>
                            <a class="example2-2" href="../../../static/home/images/labBrief.JPG" th:href="@{/home/images/labBrief.JPG}"
                                data-lightbox="newphoto" data-title=" ">
                                <img alt="往届师兄师姐回访" src="../../../static/home/images/labBrief.JPG" th:src="@{/home/images/labBrief.JPG}" width="220">
                            </a>
                        </li>
                        <li>
                            <a class="example2-2" href="../../../static/home/images/labBrief.JPG" th:href="@{/home/images/labBrief.JPG}"
                                data-lightbox="newphoto" data-title=" ">
                                <img alt="往届师兄师姐回访" src="../../../static/home/images/labBrief.JPG" th:src="@{/home/images/labBrief.JPG}" width="220">
                            </a>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    </div>
</div>


<div th:include="template/footer_template :: footer_template"></div>


</body>
    <!--二级菜单栏-->
    <script>
     $(function(){
             $(".public-nav li:has(ul)").hover(function() {
             $(this).find("a:first").css("background-color","#00428f");
                 $(this).find(".subnav").css("display","block");

         },function() {
             $(this).find("a:first").css("background-color","#035ba6");
             $(this).find(".subnav").css("display","none");
         })
     });
    </script>
</html>
