<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <title>科学研究——广东省信息物理融合系统重点实验室</title>
    <link rel="shortcut icon" href="../../../static/home/images/bitbug_favicon.ico"
          th:href="@{/home/images/bitbug_favicon.ico}"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../../../static/home/css/reset.css" rel="stylesheet"
          th:href="@{/home/css/reset.css}">
    <link href="../../../static/home/css/public.css" rel="stylesheet"
          th:href="@{/home/css/public.css}">
    <link href="../../../static/home/css/index.css" rel="stylesheet"
          th:href="@{/home/css/index.css}">
    <script type="text/javascript" src="../../static/home/js/jquery-1.12.4.min.js"
            th:href="@{home/js/jquery-1.12.4.min.js}"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="description" content="jPaginate - jQuery Pagination Plugin"/>
    <meta name="keywords" content="jquery, plugin, pagination, fancy"/>
    <link rel="stylesheet" href="../../../static/home/css/header.css" type="text/css"
          th:href="@{/home/css/header.css}"/>
    <link rel="stylesheet" href="../../../static/home/css/sidebar.css" type="text/css"
          th:href="@{/home/css/sidebar.css}"/>
    <link rel="stylesheet" href="../../../static/home/css/meeting.css" type="text/css"
          th:href="@{/home/css/meeting.css}"/>
    <link rel="stylesheet" href="../../../static/home/css/style.css" type="text/css"
          th:href="@{/home/css/style.css}"/>

</head>
<body>
<div th:include="template/header_template :: header_template"></div>
<div class="meetingpage">
     <div class="container middle_container">
        <div class="middle_content">
            <div class="middle_l" id="temlate_middle">
                <!-- <h1><span>机构概况</span></h1> -->
                <ul id="lmenu" class="tmo_list2">
                    <li class="ll first"><span>科研项目</span></li>
                    <li class="ll" id="base">
                        <a href="../Research_Project.html" class="ll_ref" style="margin-top: 26px;">

                            <span>异构网络互联融合</span>
                        </a>
                    </li>
                    <li class="ll" id="network">
                        <a href="Research_Project1.html" class="ll_ref" >

                            <span>工业过程大数据</span>
                        </a>
                    </li>
                    <li class=" ll" id="bigdata">
                        <a href="Research_Project2.html" class="ll_ref">

                            <span>高性能计算</span>
                        </a>
                    </li>
                    <li class=" ll" id="machine">
                        <a href="Research_Project3.html" class="ll_ref" style="background:#6ad;">

                            <span>智能制造与知识自动化</span>
                        </a>
                    </li>
                    <li class="ll" id="system">
                        <a href="Research_Project4.html" class="ll_ref">

                            <span>智能装备与机器人系统</span>
                        </a>
                    </li>
                    <li class="ll" id="system">
                        <a href="Research_Project5.html" class="ll_ref">

                            <span>工控系统安全</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="middle_r">
                <div class="crumb">
                    <ul id="crumbs">
                        <li><a href="../index.html"">首页</a></li>
                        <li><span>&nbsp;/&nbsp;</span></li>
                        <li><a href="../Research_Project.html">科学研究</a></li>
                        <li><span>&nbsp;/&nbsp;</span></li>
                        <li><a href="Research_Project3.html">智能制造与知识自动化</a></li>
                    </ul>
                </div>
                <div class="outline_r">
                    <div class="news_title margin10"><h1>智能制造与知识自动化</h1></div>
                    <div class="project_content">
                        <ul class="news_list margin20">
                            <li>

                                <a target="_blank" href="Project/projectIndexPage.html?id=2">智能制造物联网的数据感知、传输和海量数据处理</a>
                                <span>[2013-01-03]</span>
                            </li>
                            <li>

                                <a target="_blank" href="Project/projectIndexPage.html?id=4">广东省复杂过程信息物理融合系统工程技术研发中心</a>
                                <span>[2014-12-03]</span>
                            </li>
                            <li>

                                <a target="_blank" href="Project/projectIndexPage.html?id=7">移动互联网服务及隐私保护的理论与关键技术研究</a>
                                <span>[2015-01-03]</span>
                            </li>
                            <li>

                                <a target="_blank" href="Project/projectIndexPage.html?id=8">制造物联网协同感知的服务组合优化模型与寻优算法研究</a>
                                <span>[2011-01-01]</span>
                            </li>
                            <li>

                                <a target="_blank" href="Project/projectIndexPage.html?id=18">信息服务的RFID理论与技术研究</a>
                                <span>[2011-01-01]</span>
                            </li>
                            <li>

                                <a target="_blank" href="Project/projectIndexPage.html?id=19">智能制造物联网络自组织弹性增强策略研究</a>
                                <span>[2011-01-01]</span>
                            </li>
                            <li>

                                <a target="_blank" href="Project/projectIndexPage.html?id=20">体系结构级GPU功耗建模及软件低功耗优化</a>
                                <span>[2011-01-01]</span>
                            </li>
                            <li>

                                <a target="_blank" href="Project/projectIndexPage.html?id=21">异构并行系统全程序算法级低功耗优化方法研究</a>
                                <span>[2011-01-01]</span>
                            </li>
                        </ul>
                    </div>
                    <div class="demo">
                        <div id="demo4" class="jPaginate" style="padding-left: 58px;">
                            <div class="jPag-control-back">
                                <a class="jPag-first" style="color: rgb(121, 181, 227);">First</a>
                                <span class="jPag-sprevious">«</span>
                            </div>
                            <div style="overflow: hidden; width: 22px;">
                                <ul class="jPag-pages" style="width: 20px;">
                                    <li><span class="jPag-current" style="color: rgb(37, 115, 175);">1</span></li>
                                </ul>
                            </div>
                            <div class="jPag-control-front" style="left: 84px;">
                                <span class="jPag-snext">»</span>
                                <a class="jPag-last" style="color: rgb(121, 181, 227);">Last</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









<div class="clearfix"></div>
<!--<div class="public-friendlinks">
        <div class="public-container">
        <p class="title">友情链接:</p>
        <p class="links">
            <a href="http://www.gdut.edu.cn/">广东工业大学</a>
            <a href="http://www.gdut.edu.cn/">广东工业大学</a>
        </p>
        </div>
    </div>-->


<div th:include="template/footer_template :: footer_template"></div>


</body>
    <!--二级菜单栏-->
    <script>
     $(function(){
             $(".public-nav li:has(ul)").hover(function() {
             $(this).find("a:first").css("background-color","#00428f");
                 $(this).find(".subnav").css("display","block");

         },function() {
             $(this).find("a:first").css("background-color","#035ba6");
             $(this).find(".subnav").css("display","none");
         })
     });
    </script>

</html>