<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <!--<title>LLC实验室网站</title>-->
    <link rel="shortcut icon" href="../../../static/home/images/favicon.ico"
          th:href="@{/home/images/favicon.ico}"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../../../static/home/css/reset.css" rel="stylesheet" th:href="@{/home/css/reset.css}">
    <link href="../../../static/home/css/public.css" rel="stylesheet" th:href="@{/home/css/public.css}">
    <link href="../../../static/home/css/index.css" rel="stylesheet" th:href="@{/home/css/index.css}">
    <meta name="description" content="jPaginate - jQuery Pagination Plugin"/>
    <meta name="keywords" content="jquery, plugin, pagination, fancy"/>
    <title>人才培养——广东省信息物理融合系统重点实验室</title>
    <link rel="stylesheet" href="../../../static/home/css/header.css" type="text/css" th:href="@{/home/css/header.css}"/>
    <link rel="stylesheet" href="../../../static/home/css/sidebar.css" type="text/css" th:href="@{/home/css/sidebar.css}">
    <link rel="stylesheet" href="../../../static/home/css/meeting.css" type="text/css" th:href="@{/home/css/meeting.css}"/>
    <link rel="stylesheet" href="../../../static/home/css/style.css" type="text/css" th:href="@{/home/css/style.css}"/>
    <link rel="stylesheet" href="../../../static/home/css/papers.css" type="text/css" th:href="@{/home/css/papers.css}"/>
    <link rel="stylesheet" href="../../../static/home/css/team.css" th:href="@{/home/css/team.css}">
    <link rel="stylesheet" href="../../../static/home/css/article.css" th:href="@{/home/css/article.css}">
</head>
<body>
<div class="public-header" th:include="template/header_template :: header_template">
</div>


<div class="middle">
    <div class="container middle_container">
        <div class="middle_content">
            <div class="middle_l" id="temlate_middle">
                <ul id='resultType' class="tmo_list2">
                    <li class="ll first"><span>人才培养</span></li>
                    <li class='ll'>
                        <a href="/Talent_training.html?position=博士后&grade=-1" class='ll_ref'>
                            <i></i>
                            <span>博士后</span>
                        </a>
                    </li>

                    <li class='ll'>
                        <a href="/Talent_training.html?position=博士&grade=0" class='ll_ref'>
                            <i></i>
                            <span>博士</span>
                        </a>
                    </li>
                    <li class='ll'>
                        <a href="/Talent_training.html?position=研究生&grade=2016" class='ll_ref'>
                            <i></i>
                            <span>研三</span>
                        </a>
                    </li>
                    <li class='ll'>
                        <a href="/Talent_training.html?position=研究生&grade=2017" class='ll_ref'>
                            <i></i>
                            <span>研二</span>
                        </a>
                    </li>
                    <li class='ll'>
                        <a href="/Talent_training.html?position=研究生&grade=2018" class='ll_ref'>
                            <i></i>
                            <span>研一</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="middle_r">
                <div class="crumb">
                    <ul id="crumbs">
                        <li><a href="index.html">首页</a></li>
                        <li><span>&nbsp;/&nbsp;</span></li>
                        <li><a href="/Talent_training.html?position=博士后&grade=-1">人才培养</a></li>
                        <li><span>&nbsp;/&nbsp;</span></li>
                        <li><a href="#" th:text="${people.position}"></a></li>
                    </ul>
                </div>

                <div class="crumb">
                    <div class="container">
                        <div class="row" >
                            <div class="col-md-2" style="text-align: center;" th:if="${image != null}">
                                <img th:if="${image.path != null}" src="/custom/images/person-img.jpg"
                                     th:src="${'/'+image.path}" alt="头像" width="175" style="margin-left: 5px;margin-top: 5px;"/>
                            </div>

                            <div class="col-md-6" style="text-align: left;">
                                <table class="table table-striped" style="padding-left: 10px;">
                                    <tbody>
                                    <tr>
                                        <td class="td-people-first">姓名(Name):</td>
                                        <td class="td-people-last" th:text="${people.name}">name</td>
                                    </tr>
                                    <tr>
                                        <td class="td-people-first">性别(Sex):</td>
                                        <td class="td-people-last" th:text="${people.sex}">sex</td>
                                    </tr>
                                    <tr>
                                        <td class="td-people-first">年级(grade):</td>
                                        <td class="td-people-last"
                                            th:text="${people.position} eq '研究生' ? ${people.position+people.grade+'级'} : ${people.position}">
                                            grade
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td-people-first">学历(Degree):</td>
                                        <td class="td-people-last" th:text="${people.highestDegree}">Degree</td>
                                    </tr>
                                    <tr>
                                        <td class="td-people-first">研究领域(Research):</td>
                                        <td class="td-people-last" th:text="${people.researchField}">Research</td>
                                    </tr>
                                    <tr>
                                        <td class="td-people-first">邮箱(Email):</td>
                                        <td class="td-people-last" th:text="${people.email}">email</td>
                                    </tr>
                                    <tr th:if="${people.position} eq '研究生'">
                                        <td class="td-people-first">简介(Description):</td>
                                        <td class="td-people-last" th:text="${people.academicTitle}">email</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--个人简介-->
                <div id="document-preview" style="max-width: 800px; border-style: groove;"></div>
            </div>
        </div>
        <div style="margin-top: 50px;">
            <hr style="height:1px;border:0px;background-color:#D5D5D5;color:#b7b7b7;"/>
        </div>
    </div>
</div>
<div th:include="template/footer_template :: footer_template"></div>
<script type="text/javascript" src="../../../static/home/js/jquery-1.12.4.min.js" th:src="@{../home/js/jquery-1.12.4.min.js}"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script src="../../../static/home/Scripts/jquery.paginate.js" th:src="@{../home/Scripts/jquery.paginate.js}"></script>
<script src="../../../static/home/js/common.js" th:src="@{../home/js/common.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    //拿到模型列表
    var people = /*[[${people}]]*/ 2;
    /*]]>*/
</script>
<script>
    $(function(){

        if(people.introduction>0){
            //获得简介内容
            var urlGetDocumentById="/document/getDocumentById";
            var document = getDocumentById(people.introduction,urlGetDocumentById);
            var content = document.content;
            if(content==null||content==undefined)alert("未获取到简介！");
            $("#document-preview").html(document.content);
        }

    });
</script>
</body>
</html>
