<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <!--<title>LLC实验室网站</title>-->
    <link rel="shortcut icon" href="../../../static/home/images/bitbug_favicon.ico"
    th:href="@{/home/images/bitbug_favicon.ico}"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../../../static/home/css/reset.css" rel="stylesheet" th:href="@{/home/css/reset.css}">
    <link href="../../../static/home/css/public.css" rel="stylesheet" th:href="@{/home/css/public.css}">
    <link href="../../../static/home/css/index.css" rel="stylesheet" th:href="@{/home/css/index.css}">
   <script type="text/javascript" src="../../../static/home/js/jquery-1.12.4.min.js" th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <meta name="description" content="jPaginate - jQuery Pagination Plugin"/>
    <meta name="keywords" content="jquery, plugin, pagination, fancy"/>
    <title>人才培养——广东省信息物理融合系统重点实验室</title>
    <link rel="stylesheet" href="../../../static/home/css/header.css" type="text/css" th:href="@{/home/css/header.css}"/>
    <link rel="stylesheet" href="../../../static/home/css/sidebar.css" type="text/css" th:href="@{/home/css/sidebar.css}">
    <link rel="stylesheet" href="../../../static/home/css/meeting.css" type="text/css" th:href="@{/home/css/meeting.css}"/>
    <link rel="stylesheet" href="../../../static/home/css/style.css" type="text/css" th:href="@{/home/css/style.css}"/>
    <link rel="stylesheet" href="../../../static/home/css/papers.css" type="text/css" th:href="@{/home/css/papers.css}"/>
    <link rel="stylesheet" href="../../../static/home/css/team.css" th:href="@{/home/css/team.css}">
    <link rel="stylesheet" href="/../../../static/home/css/article.css" th:href="@{/home/css/article.css}">
    <script src="../../../static/home/Scripts/jquery.paginate.js" th:href="@{/Scripts/jquery.paginate.js}"></script>
</head>
<body>
<div th:include="template/header_templateS :: header_templateS"></div>
<div class="container middle_container">
        <div class="middle_content">
            <div class="middle_l" id="temlate_middle">
                <!-- <h1><span>机构概况</span></h1> -->
                <ul id='resultType' class="tmo_list2">
                    <li class="ll first"><span>人才培养</span></li>
                    <li class='ll'>
                        <a href='../postdoctor.html' class='ll_ref' style="background:#6ad;">
                            <i></i>
                            <span>博士后</span>
                        </a>
                    </li>
                    <li class='ll'>
                        <a href='../doctor.html' class='ll_ref'>
                            <i></i>
                            <span>博士</span>
                        </a>
                    </li>
                    <li class='ll'>
                        <a href='../graduate.html' class='ll_ref'>
                            <i></i>
                            <span>研究生</span>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="middle_r">
                <div class="crumb">
                    <ul id="crumbs">
                        <li><a href="../index.html">首页</a></li>
                        <li><span>&nbsp;/&nbsp;</span></li>
                        <li><a href="../Talent_training.html">人才培养</a></li>
                        <li><span>&nbsp;/&nbsp;</span></li>
                        <li><a href="../postdoctor.html">博士后</a></li>
                        <li><span>&nbsp;/&nbsp;</span></li>
                        <li><a href="">履历</a></li>
                        <li style="float:right;">
                            <a href="../postdoctor.html" style="font-size:12px;color:#2c76c7;">«返回</a>
                        </li>
                    </ul>
                </div>
                <ul id="postdoctor_mes">
                    <li id="id_1">
                        <div class="record_t">
                            <div class="record_l">
                                <img src="../../../static/home/images/rencai.jpg" th:src="@{/home/images/rencai.jpg}" alt="博士后A" width="150">
                            </div>
                            <div class="record_r">
                                <table style="table-layout:fixed;">
                                    <tbody>
                                        <tr>
                                            <td>姓名(Name)</td>
                                            <td>XXX</td>
                                        </tr>
                                        <tr>
                                            <td>性别(Sex)</td>
                                            <td>XXX</td>
                                        </tr>
                                        <tr>
                                            <td>年级(Grade)</td>
                                            <td>XXX</td>
                                        </tr>
                                        <tr>
                                            <td>实验室职务(Laboratory duty)</td>
                                            <td>XXX</td>
                                        </tr>
                                        <tr>
                                            <td>研究方向(Research direction )</td>
                                            <td>XXX</td>
                                        </tr>
                                        <tr>
                                            <td>Email地址(E-mail address)</td>
                                            <td>XXX</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="record_b">
                            <div class="team_head">
                                <div class="team_circle"></div>
                                <div class="team_line" style="width:20px;"></div>
                                <span>个人简历</span>
                                <div class="team_line" style="width:350px;"></div>
                            </div>

                            <p>暂无描述</p>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
</div>









<div class="public-footer">
    <div class="public-text">电话：86-21-21678901&nbsp;&nbsp;&nbsp;邮箱：llcheng@gdut.edu.cn</div>
    <div class="public-text">地址：广州市番禺区广州大学城外环西路100号&nbsp;&nbsp;&nbsp;邮政编码：51006</div>
    <div class="public-text">Copyright © 1995-2018 信息物理融合系统广东省重点实验室版权所有&nbsp;&nbsp;&nbsp;备案序号：粤ICP备18032668号-2</div>
</div>

</body>
    <!--二级菜单栏-->
    <script>
     $(function(){
             $(".public-nav li:has(ul)").hover(function() {
             $(this).find("a:first").css("background-color","#00428f");
                 $(this).find(".subnav").css("display","block");

         },function() {
             $(this).find("a:first").css("background-color","#035ba6");
             $(this).find(".subnav").css("display","none");
         })
     });
    </script>
</html>
