<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <!--<title>LLC实验室网站</title>-->
    <link rel="shortcut icon" href="../../../static/home/images/bitbug_favicon.ico"
    th:href="@{/home/images/bitbug_favicon.ico}"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../../../static/home/css/reset.css" rel="stylesheet" th:href="@{/home/css/reset.css}">
    <link href="../../../static/home/css/public.css" rel="stylesheet" th:href="@{/home/css/public.css}">
    <link href="../../../static/home/css/index.css" rel="stylesheet" th:href="@{/home/css/index.css}">
    <meta name="description" content="jPaginate - jQuery Pagination Plugin"/>
    <meta name="keywords" content="jquery, plugin, pagination, fancy"/>
    <title>人才培养——广东省信息物理融合系统重点实验室</title>
    <link rel="stylesheet" href="../../../static/home/css/header.css" type="text/css" th:href="@{/home/css/header.css}"/>
    <link rel="stylesheet" href="../../../static/home/css/sidebar.css" type="text/css" th:href="@{/home/css/sidebar.css}">
    <link rel="stylesheet" href="../../../static/home/css/meeting.css" type="text/css" th:href="@{/home/css/meeting.css}"/>
    <link rel="stylesheet" href="../../../static/home/css/style.css" type="text/css" th:href="@{/home/css/style.css}"/>
    <link rel="stylesheet" href="../../../static/home/css/papers.css" type="text/css" th:href="@{/home/css/papers.css}"/>
    <link rel="stylesheet" href="../../../static/home/css/team.css" th:href="@{/home/css/team.css}">
    <link rel="stylesheet" href="/../../../static/home/css/article.css" th:href="@{/home/css/article.css}">
</head>
<body>
<div th:include="template/header_templateS :: header_templateS"></div>
<div class="container middle_container">
        <div class="middle_content">
            <div class="middle_l" id="temlate_middle">
                <!-- <h1><span>机构概况</span></h1> -->
                <ul id='resultType' class="tmo_list2">
                    <li class="ll first"><span>人才培养</span></li>
                    <li class='ll'>
                        <a href='../postdoctor#1.html' class='ll_ref'>
                            <i></i>
                            <span>博士后</span>
                        </a>
                    </li>
                    <li class='ll'>
                        <a href='../postdoctor#2.html' class='ll_ref'>
                            <i></i>
                            <span>博士</span>
                        </a>
                    </li>
                    <li class='ll'>
                        <a href='../postdoctor#3.html' class='ll_ref'>
                            <i></i>
                            <span>研究生</span>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="middle_r">
                <div class="crumb">
                    <ul id="crumbs">
                        <li><a href="../index.html">首页</a></li>
                        <li><span>&nbsp;/&nbsp;</span></li>
                        <li><a href="../Talent_training.html">人才培养</a></li>
                        <li><span>&nbsp;/&nbsp;</span></li>
                        <li><!-- <a href="../postdoctor#1.html">博士后</a> --></li>
                        <li><span>&nbsp;/&nbsp;</span></li>
                        <li><a href="">履历</a></li>
                        <li style="float:right;">
                            <!-- <a href="../postdoctor#1.html" style="font-size:12px;color:#2c76c7;">«返回</a> -->
                        </li>
                    </ul>
                </div>
                <ul id="postdoctor_mes">
                    <li id="id_1">
                        <div class="record_t">
                            <div class="record_l">
<!--                                 <img src="../../../static/home/images/rencai.jpg" th:src="@{/home/images/rencai.jpg}" alt="博士后A" width="150"> -->
                            </div>
                            <div class="record_r">
                                <ul>
                                    <li>
                                        姓名(Name):
                                        <span>13</span>
                                    </li>
                                    <li>
                                        性别(Sex):
                                        <span></span>
                                    </li>
                                    <li>
                                        年级(Grade):
                                        <span></span>
                                    </li>
                                    <li>
                                        实验室职务(Laboratory duty):
                                        <span></span>
                                    </li>
                                    <li>
                                        研究方向(Research direction):
                                        <span></span>
                                    </li>
                                    <li>
                                        Email地址(E-mail address):
                                        <span></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="record_b">
                            <div class="team_head">
                                <div class="team_circle"></div>
                                <div class="team_line" style="width:20px;"></div>
                                <span>个人简历</span>
                                <div class="team_line" style="width:350px;"></div>
                            </div>

                            <p></p>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
</div>

<div th:include="template/footer_template :: footer_template"></div>
<script type="text/javascript" src="../../../static/home/js/jquery-1.12.4.min.js" th:src="@{../home/js/jquery-1.12.4.min.js}"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../../../static/home/Scripts/jquery.paginate.js" th:src="@{../home/Scripts/jquery.paginate.js}"></script>
<script src="../../../static/home/js/common.js" th:src="@{../home/js/common.js}"></script>
<script>
$(function(){
    var url = location.href;
    url = url.split("?");
    var url1 = url[1].split("=");
    var index = parseInt(url1[1]);
    var data = [];
    var posAll = ['博士后','博士','研究生'];
    for(var i = 0; i < 3; i++){
        var dataL = getPeopleByPosition(posAll[i],"/people/getByPosition");
        for(var j = 0; j < dataL.length; j++){
            data.push(dataL[j]);
        }
        dataL = '';
    }
    console.log(data);
    for(var i =0; i < data.length; i++){
        if(index == data[i].id)     break;
    }
    var crumbsCon = '';
    var crumbsBack = '';
    if(data[i].position == '博士后'){
        crumbsCon += '<a href="../postdoctor#1.html">博士后</a>';
        crumbsBack += '<a href="../postdoctor#1.html" style="font-size:12px;color:#2c76c7;">«返回</a>';
    }
    else if(data[i].position == '博士'){
        crumbsCon += '<a href="../postdoctor#2.html">博士</a>';
        crumbsBack += '<a href="../postdoctor#2.html" style="font-size:12px;color:#2c76c7;">«返回</a>';
    }
    else if(data[i].position == '研究生'){
        crumbsCon += '<a href="../postdoctor#3.html">研究生</a>';
        crumbsBack += '<a href="../postdoctor#3.html" style="font-size:12px;color:#2c76c7;">«返回</a>';
    }
    $("#crumbs").find("li").eq(4).html(crumbsCon);
    $("#crumbs").find("li").eq(7).html(crumbsBack);

    var imgPath ='/custom/images/person-img.jpg';
    if(data[i].portrait!==undefined&&data[i].portrait!==null&&data[i].portrait!==0)
        imgPath= '/image/getPath?id='+data[i].portrait;
    $("div.record_l").html("");
    var imgVal = '';
    imgVal += '<img src="'+imgPath+'" alt="'+data[i].position+'" width="150">';
    $("div.record_l").append(imgVal);
    $("div.record_r").find("span").eq(0).html(data[i].name);
    $("div.record_r").find("span").eq(1).html(data[i].sex);
    $("div.record_r").find("span").eq(2).html(data[i].grade);
    $("div.record_r").find("span").eq(3).html(data[i].duty);
    $("div.record_r").find("span").eq(4).html(data[i].researchField);
    $("div.record_r").find("span").eq(5).html(data[i].email);
    for(var x = 0; x < 6; x++){
        if($("div.record_r").find("span").eq(x).html() == "" || $("div.record_r").find("span").eq(x).html() == " " || $("div.record_r").find("span").eq(x).html() == null || $("div.record_r").find("span").eq(x).html() == undefined || $("div.record_r").find("span").eq(x).html() == 0)
            $("div.record_r").find("span").eq(x).parent().css('display', 'none');
    }
    if(data[i].portrait!==undefined&&data[i].portrait!==null&&data[i].portrait!==0)
        $("div.record_b").find("p").eq(0).html(data[i].introduction);
    else    $("div.record_b").find("p").eq(0).html("暂无描述");

    for(var k = 1; k < $("#resultType>li").length; k++ ){
        if($('#resultType').find('span').eq(k).text() == data[i].position){
            $('#resultType').find('a.ll_ref').eq(k-1).css('background', '#6ad').parent().siblings().find("a").css('background', '#f3f2f2');
            break;
        }
    }
});
</script>
</body>
</html>
