
/**
 * Created by ricardo on 2018/8/10.
 * 通用css文件，全局
 */

.btn-a {
    position: relative;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    background-color: rgb(183, 183, 183);
    font-family: 'Yanone Kaffeesatz';
    font-weight: 700;
    font-size: 3em;
    display: block;
    color: #0b8912;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgb(125, 125, 125), 0px 9px 25px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0px 9px 0px rgb(125, 125, 125), 0px 9px 25px rgba(0, 0, 0, .7);
    box-shadow: 0px 9px 0px rgb(125, 125, 125), 0px 9px 25px rgba(0, 0, 0, .7);

    height: 120px;
    text-align: center;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

.btn-a:active {
    -webkit-box-shadow: 0px 3px 0px rgb(225, 212, 60), 0px 3px 6px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0px 3px 0px rgb(225, 212, 60), 0px 3px 6px rgba(0, 0, 0, .9);
    box-shadow: 0px 3px 0px rgb(225, 212, 60), 0px 3px 6px rgba(0, 0, 0, .9);
    position: relative;
    top: 6px;
    text-decoration: none;
}

.btn-a:link {
    text-decoration: none;
}
.btn-a:visited {
    text-decoration: none;
}
.btn-a:hover {
    text-decoration: none;
}