
/*body{*/
	/*background-color: #b4dce4;*/
	/*margin: 0;*/
	/*height: 100vh;*/
/*}*/
body, html {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	touch-action: none;
	content-zooming: none;
	background: #b4dce4;
}

canvas {
	/*//position: absolute;*/
	width: 100%;
	height: 55%;
	user-select: none;
	background: #000;
}

#div-info {
	position: fixed; /*or前面的是absolute就可以用*/
	top: 53%;
	left: 40%;
	color: #010101;
}
#div-snow {
	position: fixed; /*or前面的是absolute就可以用*/
	top: 55%;
	left: 0;
	width: 100%;
}
span {
	color: #0c0c0c;
}

.background{
	width: 100%;
	height: 30vh;
	background-color: #fdfdff;
	position: absolute;
	bottom: 0;
	left: 0;
}	

.background:before, .background:after{
	content: "";
	width: 30vw;
	height: 5vh;
	border-radius: 50%;
	background-color: #fdfdff;
	position: absolute;
	bottom: 0;
}

.background:before{	
	left: 10%;
}

.background:after{
	right: 10%;
}

.snow{
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #fefefe;

	-webkit-animation-name: snow;

	        animation-name: snow;
	-webkit-animation-duration: 8000ms;
	        animation-duration: 8000ms;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;

	opacity: 0;
	position: absolute;
	top: 0;
	-webkit-transform: translateZ(0) translate(0, 0) scale(.2);
	        transform: translateZ(0) translate(0, 0) scale(.2);
}

.snow1{
	left: 10%;
	-webkit-transform: translate(1vh);
	        transform: translate(1vh);
}

.snow2{
	left: 20%;
	-webkit-transform: translate(1.5vh);
	        transform: translate(1.5vh);
	-webkit-animation-delay: 200ms;
	        animation-delay: 200ms;
}

.snow3{
	left: 30%;
	-webkit-transform: translate(2vh);
	        transform: translate(2vh);
	-webkit-animation-delay: 520ms;
	        animation-delay: 520ms;
}

.snow4{
	left: 40%;
	-webkit-transform: translate(2.5vh);
	        transform: translate(2.5vh);
	-webkit-animation-delay: 999ms;
	        animation-delay: 999ms;
}

.snow5{
	left: 50%;
	-webkit-transform: translate(3vh);
	        transform: translate(3vh);
	-webkit-animation-delay: 150ms;
	        animation-delay: 150ms;
}

.snow6{
	left: 60%;
	-webkit-transform: translate(3.5vh);
	        transform: translate(3.5vh);
	-webkit-animation-delay: 400ms;
	        animation-delay: 400ms;
}

.snow7{
	left: 70%;
	-webkit-transform: translate(4vh);
	        transform: translate(4vh);
	-webkit-animation-delay: 1550ms;
	        animation-delay: 1550ms;
}

.snow8{
	left: 80%;
	-webkit-transform: translate(4.5vh);
	        transform: translate(4.5vh);
	-webkit-animation-delay: 655ms;
	        animation-delay: 655ms;
}

.snow9{
	left: 86%;
	-webkit-transform: translate(5vh);
	        transform: translate(5vh);
	-webkit-animation-delay: 250ms;
	        animation-delay: 250ms;
}

.snow10{
	left: 55%;
	-webkit-transform: translate(5.5vh);
	        transform: translate(5.5vh);
	-webkit-animation-delay: 600ms;
	        animation-delay: 600ms;
}

.snow11{
	left: 15%;
	-webkit-transform: translate(6vh);
	        transform: translate(6vh);
	-webkit-animation-delay: 2000ms;
	        animation-delay: 2000ms;
}

.snow12{
	left: 25%;
	-webkit-transform: translate(6.5vh);
	        transform: translate(6.5vh);
	-webkit-animation-delay: 2400ms;
	        animation-delay: 2400ms;
}

.snow13{
	left: 35%;
	-webkit-transform: translate(7vh);
	        transform: translate(7vh);
	-webkit-animation-delay: 2999ms;
	        animation-delay: 2999ms;
}

.snow14{
	left: 45%;
	-webkit-transform: translate(7.5vh);
	        transform: translate(7.5vh);
	-webkit-animation-delay: 1300ms;
	        animation-delay: 1300ms;
}

.snow15{
	left: 55%;
	-webkit-transform: translate(8vh);
	        transform: translate(8vh);
	-webkit-animation-delay: 2150ms;
	        animation-delay: 2150ms;
}

.snow16{
	left: 65%;
	-webkit-transform: translate(8.5vh);
	        transform: translate(8.5vh);
	-webkit-animation-delay: 2140ms;
	        animation-delay: 2140ms;
}

.snow17{
	left: 75%;
	-webkit-transform: translate(5.5vh);
	        transform: translate(5.5vh);
	-webkit-animation-delay: 2600ms;
	        animation-delay: 2600ms;
}

.snow18{
	left: 84%;
	-webkit-transform: translate(5.5vh);
	        transform: translate(5.5vh);
	-webkit-animation-delay: 2666ms;
	        animation-delay: 2666ms;
}

.snow19{
	left: 89%;
	-webkit-transform: translate(5.5vh);
	        transform: translate(5.5vh);
	-webkit-animation-delay: 2200ms;
	        animation-delay: 2200ms;
}

.snow20{
	left: 10%;
	-webkit-transform: translate(5.5vh);
	        transform: translate(5.5vh);
	-webkit-animation-delay: 2400ms;
	        animation-delay: 2400ms;
}

.snow21{
	left: 20%;
	-webkit-transform: translate(5.5vh);
	        transform: translate(5.5vh);
	-webkit-animation-delay: 3200ms;
	        animation-delay: 3200ms;
}

.snow22{
	left: 30%;
	-webkit-transform: translate(5.5vh);
	        transform: translate(5.5vh);
	-webkit-animation-delay: 3500ms;
	        animation-delay: 3500ms;
}

.snow24{
	left: 40%;
	-webkit-transform: translate(2.5vh);
	        transform: translate(2.5vh);
	-webkit-animation-delay: 3999ms;
	        animation-delay: 3999ms;
}

.snow25{
	left: 50%;
	-webkit-transform: translate(3vh);
	        transform: translate(3vh);
	-webkit-animation-delay: 3150ms;
	        animation-delay: 3150ms;
}

.snow26{
	left: 60%;
	-webkit-transform: translate(3.5vh);
	        transform: translate(3.5vh);
	-webkit-animation-delay: 3400ms;
	        animation-delay: 3400ms;
}

.snow27{
	left: 70%;
	-webkit-transform: translate(4vh);
	        transform: translate(4vh);
	-webkit-animation-delay: 4550ms;
	        animation-delay: 4550ms;
}

.snow28{
	left: 79%;
	-webkit-transform: translate(4.5vh);
	        transform: translate(4.5vh);
	-webkit-animation-delay: 3655ms;
	        animation-delay: 3655ms;
}

.snow29{
	left: 86%;
	-webkit-transform: translate(5vh);
	        transform: translate(5vh);
	-webkit-animation-delay: 3250ms;
	        animation-delay: 3250ms;
}

.snow30{
	left: 55%;
	-webkit-transform: translate(5.5vh);
	        transform: translate(5.5vh);
	-webkit-animation-delay: 4600ms;
	        animation-delay: 4600ms;
}

.snow31{
	left: 15%;
	-webkit-transform: translate(6vh);
	        transform: translate(6vh);
	-webkit-animation-delay: 6000ms;
	        animation-delay: 6000ms;
}

.snow32{
	left: 25%;
	-webkit-transform: translate(6.5vh);
	        transform: translate(6.5vh);
	-webkit-animation-delay: 6400ms;
	        animation-delay: 6400ms;
}

.snow33{
	left: 35%;
	-webkit-transform: translate(7vh);
	        transform: translate(7vh);
	-webkit-animation-delay: 6999ms;
	        animation-delay: 6999ms;
}

.snow34{
	left: 45%;
	-webkit-transform: translate(7.5vh);
	        transform: translate(7.5vh);
	-webkit-animation-delay: 5300ms;
	        animation-delay: 5300ms;
}

.snow35{
	left: 55%;
	-webkit-transform: translate(8vh);
	        transform: translate(8vh);
	-webkit-animation-delay: 6150ms;
	        animation-delay: 6150ms;
}

.snow36{
	left: 65%;
	-webkit-transform: translate(8.5vh);
	        transform: translate(8.5vh);
	-webkit-animation-delay: 6140ms;
	        animation-delay: 6140ms;
}

.snow37{
	left: 75%;
	-webkit-transform: translate(5.5vh);
	        transform: translate(5.5vh);
	-webkit-animation-delay: 6600ms;
	        animation-delay: 6600ms;
}

.snow38{
	left: 83%;
	-webkit-transform: translate(5.5vh);
	        transform: translate(5.5vh);
	-webkit-animation-delay: 6666ms;
	        animation-delay: 6666ms;
}

.snow39{
	left: 89%;
	-webkit-transform: translate(5.5vh);
	        transform: translate(5.5vh);
	-webkit-animation-delay: 6200ms;
	        animation-delay: 6200ms;
}

@-webkit-keyframes snow{

	10%{
		opacity: 1
	}

	80%{
		-webkit-transform: translate3d(0, 85vh, 0) scale(1.2);
		        transform: translate3d(0, 85vh, 0) scale(1.2);
	}
}

@keyframes snow{

	10%{
		opacity: 1
	}

	80%{
		-webkit-transform: translate3d(0, 85vh, 0) scale(1.2);
		        transform: translate3d(0, 85vh, 0) scale(1.2);
	}
}