<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <!--<title>LLC实验室网站</title>-->
    <link rel="shortcut icon" href="../../../static/home/images/bitbug_favicon.ico"
    th:href="@{/home/images/bitbug_favicon.ico}"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../../../static/home/css/reset.css" rel="stylesheet" th:href="@{/home/css/reset.css}">
    <link href="../../../static/home/css/public.css" rel="stylesheet" th:href="@{/home/css/public.css}">
    <link href="../../../static/home/css/index.css" rel="stylesheet" th:href="@{/home/css/index.css}">
    <meta name="description" content="jPaginate - jQuery Pagination Plugin"/>
    <meta name="keywords" content="jquery, plugin, pagination, fancy"/>
    <title>科研团队——广东省信息物理融合系统重点实验室</title>
    <link rel="stylesheet" href="../../../static/home/css/header.css" type="text/css" th:href="@{/home/css/header.css}"/>
    <link rel="stylesheet" href="../../../static/home/css/sidebar.css" type="text/css" th:href="@{/home/css/sidebar.css}">
    <link rel="stylesheet" href="../../../static/home/css/meeting.css" type="text/css" th:href="@{/home/css/meeting.css}"/>
    <link rel="stylesheet" href="../../../static/home/css/style.css" type="text/css" th:href="@{/home/css/style.css}"/>
    <link rel="stylesheet" href="../../../static/home/css/papers.css" type="text/css" th:href="@{/home/css/papers.css}"/>
    <link rel="stylesheet" href="../../../static/home/css/team.css" th:href="@{/home/css/team.css}">
    <link rel="stylesheet" href="/../../../static/home/css/article.css" th:href="@{/home/css/article.css}">
</head>
<body>
<div class="public-header" th:include="template/header_templateS :: header_templateS">
</div>

<div class="middle">
    <div class="container middle_container">
        <div class="middle_content">
            <div class="middle_l" id="temlate_middle">
                <!-- <h1><span>机构概况</span></h1> -->
                <ul id='resultType' class="tmo_list2">
                    <li class="ll first"><span>科研团队</span></li>
                    <li class='ll'>
                        <a href='../Professor.html' class='ll_ref' style="background:#6ad;">
                            <i></i>
                            <span>教授</span>
                        </a>
                    </li>
                    <li class='ll'>
                        <a href='../Associate_professor.html' class='ll_ref'>
                            <i></i>
                            <span>副教授</span>
                        </a>
                    </li>
                    <li class='ll'>
                        <a href='../Lecturer.html' class='ll_ref'>
                            <i></i>
                            <span>讲师</span>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="middle_r">
                <div class="crumb">
                    <ul id="crumbs">
                        <li><a href="../index.html">首页</a></li>
                        <li><span>&nbsp;/&nbsp;</span></li>
                        <li><a href="../Research_Team.html">科研团队</a></li>
                        <li><span>&nbsp;/&nbsp;</span></li>
                        <li><a href="../Professor.html">教授</a></li>
                        <li><span>&nbsp;/&nbsp;</span></li>
                        <li><a href="">履历</a></li>
                        <li style="float:right;">
                            <a href="../Professor.html" style="font-size:12px;color:#2c76c7;">«返回</a>
                        </li>
                    </ul>
                </div>
                <ul id="professor_mes">
                    <li id="id_1">
                        <div class="record_t">
                            <div class="record_l">
                                <img src="../../../static/home/images/yicun.jpg" th:src="@{/home/images/yicun.jpg}" alt="教授A" width="150">
                            </div>
                            <div class="record_r">
                                <table style="table-layout:fixed;">
                                    <tbody>
                                        <tr>
                                            <td>姓名(Name):<span>XXX</span></td>
                                        </tr>
                                        <tr>
                                            <td>性别(Sex):<span>XXX</span></td>
                                        </tr>
                                        <tr>
                                            <td>职称(Title):<span>XXX</span></td>
                                        </tr>
                                        <tr>
                                            <td>行政职务(Administrative post):<span>XXX</span></td>
                                        </tr>
                                        <tr>
                                            <td>最高学历(Highest degree):<span>XXX</span></td>
                                        </tr>
                                        <tr>
                                            <td>研究领域(Research field):<span>XXX</span></td>
                                        </tr>
                                        <tr>
                                            <td>学术头衔(Academic title):<span>XXX</span></td>
                                        </tr>
                                        <tr>
                                            <td>Email地址(E-mail address):<span>XXX</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="record_b">
                            <div class="team_head">
                                <div class="team_circle"></div>
                                <div class="team_line" style="width:20px;"></div>
                                <span>所获称号</span>
                                <div class="team_line" style="width:350px;"></div>
                            </div>

                            <p>暂无描述</p>
                            <div class="team_head">
                                <div class="team_circle"></div>
                                <div class="team_line" style="width:20px;"></div>
                                <span>个人学术情况</span>
                                <div class="team_line" style="width:350px;"></div>
                            </div>

                            <p>暂无描述</p>
                            <div class="team_head">
                                <div class="team_circle"></div>
                                <div class="team_line" style="width:20px;"></div><span>主要工作经历</span><div class="team_line" style="width:350px;"></div>
                            </div>

                            <p>暂无描述</p>
                            <div class="team_head">
                                <div class="team_circle"></div>
                                <div class="team_line" style="width:20px;"></div><span>主要工作成绩</span><div class="team_line" style="width:350px;"></div>
                            </div>

                            <p>暂无描述</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div th:include="template/footer_template :: footer_template"></div>
<script type="text/javascript" src="../../../static/home/js/jquery-1.12.4.min.js" th:src="@{../home/js/jquery-1.12.4.min.js}"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../../../static/home/Scripts/jquery.paginate.js" th:src="@{../home/Scripts/jquery.paginate.js}"></script>
<script src="../../../static/home/js/common.js" th:src="@{../home/js/common.js}"></script>

</body>
</html>
