body {

}

* {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.container {
    /*position: relative;*/
    width: 100%;
    margin: auto;
    overflow: hidden;
}

/************************************Top***********************************************/
.header {
    /*background:url(images/bg-page-repeat.jpg) repeat-x;     !*顶部图片重复显示*!*/
}

.header_content {
    /*overflow: hidden;*/

}

.header_img {
    height: 145px;
}

.header_container {
    height: 195px;
    /*width: 960px;*/
    margin-bottom: 0px;
    /*background:url(images/bg-page.png);        !*顶部中间图片*!*/
}

/************************************Nav**********************************************/

.nav {
    background: #cecdcd;
    margin: auto;
}

.nav_content {
    background: #2c76c7; /*导航栏背景色*/
}

.nav_container {
    border: 0px;
}

.nav_content ul {
    height: 49px;
}

.nav_li {
    width: 10%;
    list-style: none;
    text-align: center;
    height: 49px;
    margin-left: 5px;
    float: left;
    background: #2c76c7;
    transition: background 0.5s;
    -moz-transition: background 0.5s; /* Firefox 4 */
    -webkit-transition: background 0.5s; /* Safari and Chrome */
    -o-transition: background 0.5s; /* Opera */
}

.nav_li:hover {
    background: #145291;
}

.nav_ref {
    display: block; /*设置为行内块*/
    width: 100%;
    float: left;
    height: 49px;
    text-decoration: none;
    color: #fff; /*导航栏文字颜色*/
    font-size: 14px;
    text-align: center;
    line-height: 49px; /*单行垂直居中 */
    font-weight: normal;
    transition: font-weight 0.5s, font-size 0.5s;
    -moz-transition: font-weight 0.5s, font-size 0.5s; /* Firefox 4 */
    -webkit-transition: font-weight 0.5s, font-size 0.5s; /* Safari and Chrome */
    -o-transition: font-weight 0.5s, font-size 0.5s; /* Opera */
}

.nav_ref:hover {
    font-weight: bold;
    font-size: 16px;
}

.children{
    position: absolute;
    /*overflow: hidden;*/
    top: 190px;
    /*left: 461px;*/
    z-index: 999;
    float: left;
    background: #145291;
    height: 125px !important;
    width: 103px;
}

.nav2_li{
    list-style: none;
}

.nav2_ref{
    display: block; /*设置为行内块*/
    width: 100%;
    /*float: left;*/
    /*height: 49px;*/
    text-decoration: none;
    color: #fff; /*导航栏文字颜色*/
    font-size: 13px;
    text-align: center;
    line-height: 30px; /*单行垂直居中 */
}

.nav2_li:hover{
    background: #2c76c7;
}

