.tmo_list2 span{
    display: inline-block;
}

input[type="text"]{
    border: 1px solid #CECDCD;
    // border-radius: 5px;
    // margin-left: 18px;
}

.hidden{
    display: none;
}

.ellipsis {
    /*margin-top: 10px;*/
    width: 100%;
}

.ellipsis ul li div{
    /*text-overflow: ellipsis;*/
    overflow: hidden;
    /*white-space: nowrap;*/
    width: 89%;
}

.ellipsis ul li{
    overflow: hidden;
    height: 40px;
    line-height: 22px;
}

.ellipsis ul li div,.ellipsis ul li span{
    float: left;
    font-size: 14px;
}

.ellipsis ul li span{
    margin-right: 0;
}

.ll_ref span{
    float: left;
    margin-left: -27px;
}

.timeChild{
    height: 20px;
}

.timeChild span{
    line-height: 20px;
}

.inputTime{
    overflow: hidden;
    height: 30px;
}

.inputTime a{
    float: left;
}

input#start,input#end{
    width: 60px;
}

#lmenu{
    background: #fff;
}

#lmenu li span{
    color: #000;
}

.ll_ref span:hover{
    /*text-decoration: underline;*/
}

.icon-calendar{
    position: relative;
    top: 3px;
    color: #2c76c7;
    font-size: 15px;
}

.ll.first.time span{
    color: #2c76c7 !important;
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
}


#sure{
    margin-top: 5px;
}

#sure span{
    background: #0076de;
    color: #fff !important;
    width: 40px;
    height: 23px;
    text-align: center;
    line-height: 23px;
}
