.public-container{
    width:1100px;
    margin: 0 auto;
    overflow:hidden;
}
 .public-header-top{
    min-width: 1100px;
    height: 40px;
    line-height: 40px;
    background: #f8f8f8;
    position: relative;
}
.public-left{
    float:left;
}
 .public-right{
    float:right;
    margin-top:-120px;
}
 .public-header-list{
     /*width:110px;*/
     float: right;
}
.public-header-list>li{
    padding:0 20px;
    float:left;
    overflow:hidden;
    border-radius:2px;
    transition:background .4s;
}
.public-header-list>li:hover{
    background:#dfdfdf;
}
.public-header-list>li>a{
    text-decoration:none;
}
 .public-header-list .item a{
     margin-left: 28px;
 }
.public-header .public-header-list  .item{
     width:110px;
     display: inline-block;
 }
.public-header .item .call{
    display:inline-block;
    width:25px;
    height:25px;
    position:absolute;
    top:5px;
    background:url(../images/call.png);
}
.public-header .item .home{
    display:inline-block;
    width:25px;
    height:25px;
    position:absolute;
    top:5px;
    background:url(../images/home.png);
}
.public-header .item .sc{
    display:inline-block;
    width:25px;
    height:25px;
    position:absolute;
    top:5px;
    background:url(../images/sc.png);
}
.public-header .public-header-middle{
    height:130px;
    margin-top:3px;
	background-color: rgb(249,249,249);
}
.logo a{
    width:110px;
    height:95px;
    background: url("../images/cps-logo.png");
}
.public-header .public-search{
    position: relative;
    top: 24px;
    left: -50px;

}
.public-header .public-input-text{
    width: 246px;
    height: 34px;
    border: none;
    padding-left: 20px;
    outline: none;
    background: url("../images/public-input.png");
}
.public-header .public-input-btn{
    width: 65px;
    height: 34px;
    border: none;
    position: absolute;
    border: none;
    top: 0;
    left:246px ;
    outline: none;
    cursor: pointer;
    background: url("../images/public-search-btn.png");
}
/*导航栏*/
.public-header .public-nav{
    height:49px;
    line-height:49px;
    background:#035ba6;
    width: 1100px;
    /*overflow:hidden;*/
    margin: 0 auto;
	box-shadow: 1px 1px 1px #333;
}
.public-header .public-nav .item{
    float: left;
    width: 119px;
    text-align: center;
}
.public-nav .item a{
    color: #fff;
	font-size: 16px;
}
.public-footer{
    width: 100%;
    height: 150px;
    line-height: 30px;
    background: #FEFEFE;
    position: absolute;
}
.public-text{
    text-align: center;
}


.public-container{
    width: 1100px;
    margin: 0px auto;
}

.bg6{ background:#6ad; }


