#temlate_middle {
    float: left;
    margin: 10px 20px 20px 20px;
}

#lmenu,#resultType {
   /* background: #464B52;*/
    /*//border: 1px solid #999;*/
    /*//margin: 0px;*/
    margin-left: 0px;
    /*border: 3px solid #c1c1c1;*/
    padding-top: 10px;
    padding-bottom: 10px;

}

.tmo_list2 {
    margin: 0px 10px 10px 10px;
    padding: 0;
    list-style: none;
    width: 210px;
}

.ll {
    height: 32px;
    color: #000;
    /*margin: 0 auto;*/
    padding: 0 0 5px 0px;
    opacity: 1;
	/*border-bottom: 1px solid #e5e5e5;*/
	width: 192px;
    margin-left: 18px;
    /*text-align: center;*/
    /*//background: url(images/meeting/b_07.jpg) no-repeat;*/
    /*//border: 1px solid #999;*/
}

.ll span {
    font-size: 14px;
    /*font-weight: bold;*/
    line-height: 30px;
    text-decoration: none;
    vertical-align: middle;
    display: block;
    /*color: white;*/
}

li.first{
    margin-left: 18px;
	/*background-color: #027efd;*/
}

li.first span{
    color: #b7cefd;
    font-size: 16px;
    /*font-weight: 700;*/
    border-top: 1px solid #2870bd;
    font-size: 18px;
    color: #fff;
    height: 55px;
    background: #035ba6;
    padding-left: 23px;
    line-height: 55px;
    text-shadow: 1px 1px 1px #333;
    border-bottom: 1px solid #b9b8b8;
	width: 250px;
}

.ll span:hover {
    // color: #008cd4;
}

li.first span:hover{
    color: #b7cefd;
}

.ll_ref{
   display: block;
    /* overflow: hidden; */
    clear: both;
    /* margin-left: 20px; */
    margin-top: 20px;
    /* border-top: 1px solid #2870bd; */
    font-size: 18px;
    /* color: #fff; */
    height: 50px;
    background: #f3f2f2;
    padding-left: 23px;
    line-height: 45px;
    /* text-shadow: 1px 1px 1px #333; */
    border-bottom: 1px solid #b9b8b8;
    width: 250px;

}

.ll_ref i{
    display: inline-block;
    background: url(images/point.png) no-repeat;
    width: 15px;
    height: 15px;
    float: left;
    margin-top: 7px;
    margin-left: 17px;
}

.ll_ref span{
    float: left;
    margin-top: 10px;
}

input#start,input#end{
    width: 100px;
}

li.ll.time span {
    font-weight: 400;
}
