<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <!--<title>LLC实验室网站</title>-->
    <link rel="shortcut icon" href="../../../static/home/images/bitbug_favicon.ico"
    th:href="@{/home/images/bitbug_favicon.ico}"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../../../static/home/css/reset.css" rel="stylesheet" th:href="@{/home/css/reset.css}">
    <link href="../../../static/home/css/public.css" rel="stylesheet" th:href="@{/home/css/public.css}">
    <link href="../../../static/home/css/index.css" rel="stylesheet" th:href="@{/home/css/index.css}">
    <meta name="description" content="jPaginate - jQuery Pagination Plugin"/>
    <meta name="keywords" content="jquery, plugin, pagination, fancy"/>
    <title>科研成果——广东省信息物理融合系统重点实验室</title>
    <link rel="stylesheet" href="../../../static/home/css/header.css" type="text/css" th:href="@{/home/css/header.css}"/>
    <link rel="stylesheet" href="../../../static/home/css/sidebar.css" type="text/css" th:href="@{/home/css/sidebar.css}">
    <link rel="stylesheet" href="../../../static/home/css/meeting.css" type="text/css" th:href="@{/home/css/meeting.css}"/>
    <link rel="stylesheet" href="../../../static/home/css/style.css" type="text/css" th:href="@{/home/css/style.css}"/>
    <link rel="stylesheet" href="../../../static/home/css/papers.css" type="text/css" th:href="@{/home/css/papers.css}"/>
</head>
<body>

<div th:include="template/header_template :: header_template"></div>

<div class="middle">
    <div class="container middle_container">
        <div class="middle_content">
            <div  style="margin-left: 35px;margin-top:20px;border-style: groove;">
                <div style="text-align: center;">
                    <h3 th:text="${software.title}">无线传感网络自适应目标跟踪节点调度算法</h3>
                    <table style="margin-left: 30%;margin-top: 10px;">
                        <tbody>
                        <tr>
                            <td class="td-first">申请人:</td>
                            <td class="td-last" th:text="${software.appliPeople}">作者(author)</td>
                        </tr>
                        <tr>
                            <td class="td-first">申请日期:</td>
                            <!--+paper.periodicalType-->
                            <td class="td-last" th:text="${software.appliDate}">作者(periodical)</td>
                        </tr>
                        <tr>
                            <td class="td-first">申请号:</td>
                            <td class="td-last" th:text="${software.appliNum}">作者(date)</td>
                        </tr>
                        <tr>
                            <td class="td-first">公开日:</td>
                            <td class="td-last" th:text="${software.publicDate}">作者(date)</td>
                        </tr>
                        <tr>
                            <td class="td-first">权利取得方式:</td>
                            <td class="td-last" th:text="${software.publicMethod}">作者(date)</td>
                        </tr>
                        <tr>
                            <td class="td-first">权利范围:</td>
                            <td class="td-last" th:text="${software.rightRange}">作者(date)</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div th:if="${image}" align="center" style="width:1000px;margin-left: 260px;margin-top: 10px;">
                <div style="text-align: left;">软著授权书：</div>
                <img style="max-width: 800px;max-height: 800px;" th:src="${'/'+image.path}">
            </div>
        </div>

        <div style="margin-top: 50px;">
            <hr style="height:1px;border:0px;background-color:#D5D5D5;color:#b7b7b7;"/>
        </div>
    </div>
</div>
<div th:include="template/footer_template :: footer_template"></div>
<script type="text/javascript" src="../../../static/home/js/jquery-1.12.4.min.js" th:src="@{/home/js/jquery-1.12.4.min.js}"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../../../static/home/Scripts/jquery.paginate.js" th:src="@{/home/Scripts/jquery.paginate.js}"></script>
<script src="../../../static/home/js/common.js" th:src="@{/home/js/common.js}"></script>


</body>
</html>
