<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <title>科学研究——广东省信息物理融合系统重点实验室</title>

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../static/home/images/bitbug_favicon.ico"
          th:href="@{/home/images/bitbug_favicon.ico}"/>
    <link href="../../static/home/css/reset.css" rel="stylesheet"
          th:href="@{/home/css/reset.css}">
    <link href="../../static/home/css/public.css" rel="stylesheet"
          th:herf="@{/home/css/public.css}">
    <link href="../../static/home/css/index.css" rel="stylesheet"
          th:herf="@{/home/css/index.css}">
    <script type="text/javascript" src="../../static/home/js/jquery-1.12.4.min.js"
            th:herf="@{home/js/jquery-1.12.4.min.js}"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="description" content="jPaginate - jQuery Pagination Plugin"/>
    <meta name="keywords" content="jquery, plugin, pagination, fancy"/>
    <title>实验室概况——广东省信息物理融合系统重点实验室</title>
    <link rel="stylesheet" href="../../static/home/css/header.css" type="text/css"
          th:href="@{/home/css/header.css}"/>
    <link rel="stylesheet" href="../../static/home/css/sidebar.css" type="text/css"
          th:href="@{/home/css/sidebar.css}"/>
    <link rel="stylesheet" href="../../static/home/css/meeting.css" type="text/css"
          th:href="@{/home/css/meeting.css}"/>
    <link rel="stylesheet" href="../../static/home/css/style.css" type="text/css"
          th:href="@{/home/css/style.css}"/>

</head>
<body>
<div class="middle_l" id="temlate_middle" th:fragment="Research_Project3">
    <!-- <h1><span>机构概况</span></h1> -->
    <ul id="lmenu" class="tmo_list2">
        <li class="ll first"><span>科研项目</span></li>
        <li class="ll" id="base">
            <a href="../Research_Project.html" class="ll_ref" style="margin-top: 26px;">

                <span>异构网络互联融合</span>
            </a>
        </li>
        <li class="ll" id="network">
            <a href="Research_Project1.html" class="ll_ref" >

                <span>工业过程大数据</span>
            </a>
        </li>
        <li class=" ll" id="bigdata">
            <a href="Research_Project2.html" class="ll_ref">

                <span>高性能计算</span>
            </a>
        </li>
        <li class=" ll" id="machine">
            <a href="Research_Project3.html" class="ll_ref" style="background:#6ad;">

                <span>智能制造与知识自动化</span>
            </a>
        </li>
        <li class="ll" id="system">
            <a href="Research_Project4.html" class="ll_ref">

                <span>智能装备与机器人系统</span>
            </a>
        </li>
        <li class="ll" id="system">
            <a href="Research_Project5.html" class="ll_ref">

                <span>工控系统安全</span>
            </a>
        </li>
    </ul>
</div>
</body>
</html>
