<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <!--<title>LLC实验室网站</title>-->
    <link rel="shortcut icon" href="../../static/home/images/bitbug_favicon .ico"
          th:href="@{/home/images/bitbug_favicon .ico}"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../../static/home/css/reset.css" rel="stylesheet" th:href="@{/home/css/reset.css}">
    <link href="../../static/home/css/public.css" rel="stylesheet" th:href="@{/home/css/public.css}">
    <link href="../../static/home/css/index.css" rel="stylesheet" th:href="@{/home/css/index.css}">
    <script type="text/javascript" src="../../static/home/js/jquery-1.12.4.min.js" th:href="@{/js/jquery-1.12.4.min.js}"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="description" content="jPaginate - jQuery Pagination Plugin"/>
    <meta name="keywords" content="jquery, plugin, pagination, fancy"/>
    <title>科研成果——广东省信息物理融合系统重点实验室</title>
    <link rel="stylesheet" href="../../static/home/css/header.css" type="text/css" th:href="@{/home/css/header.css}"/>
    <link rel="stylesheet" href="../../static/home/css/sidebar.css" type="text/css" th:href="@{/home/css/sidebar.css}">
    <link rel="stylesheet" href="../../static/home/css/meeting.css" type="text/css" th:href="@{/home/css/meeting.css}"/>
    <link rel="stylesheet" href="../../static/home/css/style.css" type="text/css" th:href="@{/home/css/style.css}"/>
    <link rel="stylesheet" href="../../static/home/css/papers.css" type="text/css" th:href="@{/home/css/papers.css}"/>
    <script src="../../static/home/Scripts/jquery.paginate.js" th:href="@{/Scripts/jquery.paginate.js}"></script>
</head>
<body>
<div class="middle_l" id="temlate_middle">
    <!-- <h1><span>机构概况</span></h1> -->
    <ul id='resultType' class="tmo_list2">
        <li class="ll first"><span>科研成果</span></li>
        <li class='ll'>
            <a href='../scientific_achievements.html' class='ll_ref'>
                <i></i>
                <span>曾获奖项</span>
            </a>
        </li>
        <li class='ll'>
            <a href='scientific_achievements1.html' class='ll_ref'>
                <i></i>
                <span>发表论文</span>
            </a>
        </li>
        <li class='ll'>
            <a href='scientific_achievements2.html' class='ll_ref'>
                <i></i>
                <span>发表专利</span>
            </a>
        </li>
        <li class='ll'>
            <a href='scientific_achievements3.html' class='ll_ref' style="background:#6ad;">
                <i></i>
                <span>软件著作权</span>
            </a>
        </li>
    </ul>

    <ul style="margin-left: 30px;margin-top: 40px;">
        <li>
            <span>时间</span>
        </li>
        <li>
            <a href="#">
                <span>2018以来</span><i style="margin-left: 70px;">(1013)</i>
            </a>
        </li>
        <li>
            <a href="#">
                <span>2017以来</span><i style="margin-left: 70px;">(990)</i>
            </a>
        </li>
        <li>
            <a href="#">
                <span>2016以来</span><i style="margin-left: 70px;">(890)</i>
            </a>
        </li>
        <!--<li><span>按时间段搜索</span></li>-->
        <form>
            <input data-nolog="1" pattern="[0-9]*" size="4" placeholder="年" maxlength="4" name="" value="" type="text">
            &nbsp;-&nbsp;
            <input data-nolog="1" pattern="[0-9]*" size="4" placeholder="年" maxlength="4" name="" value="" type="text">
            <span class="leftnav_year_para" data-type="" data-cate="" data-level=""></span>
            <span class="sc-btn leftnav_input_subspan" data-click="{'button_tp':'search_t'}">
                        <input value="确认" class="leftnav_input_sub" type="submit"></span>
        </form>
        <!--<li class="ll">-->
        <!--<a>-->
        <!--<input type="text" id="end" size="14" style="height:20px;" placeholder="结束时间..."-->
        <!--onkeydown='searchByEnter(event)'/>-->
        <!--</a>-->
        <!--</li>-->

    </ul>

</div>
</body>
</html>