<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <!--<title>LLC实验室网站</title>-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../../static/home/images/favicon.ico"
          th:href="@{/home/images/favicon.ico}"/>
    <link rel="stylesheet" href="../../static/home/css/reset.css" type="text/css"
          th:href="@{/home/css/reset.css}">
    <link rel="stylesheet" href="../../static/home/css/public.css" type="text/css"
          th:href="@{/home/css/public.css}">
    <link rel="stylesheet" href="../../static/home/css/index.css" type="text/css"
          th:href="@{/home/css/index.css}">
    <meta name="description" content="jPaginate - jQuery Pagination Plugin"/>
    <meta name="keywords" content="jquery, plugin, pagination, fancy"/>
    <title>人才培养——广东省信息物理融合系统重点实验室</title>
    <link rel="stylesheet" href="../../static/home/css/header.css" type="text/css"
          th:href="@{/home/css/header.css}"/>
    <link rel="stylesheet" href="../../static/home/css/sidebar.css" type="text/css"
          th:href="@{/home/css/sidebar.css}"/>
    <link rel="stylesheet" href="../../static/home/css/meeting.css" type="text/css"
          th:href="@{/home/css/meeting.css}"/>
    <link rel="stylesheet" href="../../static/home/css/style.css" type="text/css"
          th:href="@{/home/css/style.css}"/>
    <link rel="stylesheet" href="../../static/home/css/papers.css" type="text/css"
          th:href="@{/home/css/papers.css}"/>
    <link rel="stylesheet" href="../../static/home/css/team.css" th:href="@{/home/css/team.css}">
</head>
<body>

<div class="public-header" th:include="template/header_template :: header_template">
</div>
<div class="middle">
    <div class="container middle_container">
        <div class="middle_content">
            <div class="middle_l" id="temlate_middle" th:include="template/graduate :: graduate"></div>
            <div class="middle_r">
                <div class="crumb">
                    <ul id="crumbs">
                        <li><a href="index.html">首页</a></li>
                        <li><span>&nbsp;/&nbsp;</span></li>
                        <li><a href="Talent_training.html">人才培养</a></li>
                        <li><span>&nbsp;/&nbsp;</span></li>
                        <li><a href="graduate.html">研究生</a></li>
                        <li style="float:right;">
                            <a href="Talent_training.html" style="font-size:12px;color:#2c76c7;">«返回</a>
                        </li>
                    </ul>
                </div>
                <div id="graduate" class="team_group">
<!--                     <div class="team_head">
                        <div class="team_circle"></div>
                        <div class="team_line" style="width:100px;"></div>
                        <span>讲师</span>
                        <div class="team_line" style="width:500px;"></div>
                    </div> -->
                    <!--图片、老师名称、链接需要改变 -->
                    <ul class="team_content" style="overflow:hidden;">
                        <li>
                            <a href="Talent/graduate_demo.html"><img src="../../static/home/images/rencai.jpg" th:src="@{/home/images/rencai.jpg}" alt="研究生A" width="120"></a>
                            <a href="Talent/graduate_demo.html" class="team_name"><h4>研究生A</h4></a>
                        </li>
                        <li>
                            <a href="Talent/graduate_demo.html"><img src="../../static/home/images/rencai.jpg" th:src="@{/home/images/rencai.jpg}" alt="研究生B" width="120"></a>
                            <a href="Talent/graduate_demo.html" class="team_name"><h4>研究生B</h4></a>
                        </li>
                        <li>
                            <a href="Talent/graduate_demo.html"><img src="../../static/home/images/rencai.jpg" th:src="@{/home/images/rencai.jpg}" alt="研究生C" width="120"></a>
                            <a href="Talent/graduate_demo.html" class="team_name"><h4>研究生C</h4></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<div th:include="template/footer_template :: footer_template"></div>
<script type="text/javascript" src="../../static/home/js/jquery-1.12.4.min.js"
        th:src="@{home/js/jquery-1.12.4.min.js}"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
></script>
<script src="../../static/home/Scripts/jquery.paginate.js" th:src="@{home/Scripts/jquery.paginate.js}"></script>
<script type="text/javascript" src="../../static/home/js/common.js"
    th:src="@{/home/js/common.js}"></script>
</body>
</html>
