<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <title>广东省信息物理融合系统重点实验室官网</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../../static/home/images/bitbug_favicon.ico"
          th:href="@{/home/images/bitbug_favicon.ico}"/>

    <link href="../../static/home/css/reset.css" rel="stylesheet"
		  th:href="@{/home/css/reset.css}">
    <link href="../../static/home/css/public.css" rel="stylesheet"
		  th:herf="@{/home/css/public.css}">
    <link href="../../static/home/css/index.css" rel="stylesheet"
		  th:herf="@{/home/css/index.css}">
    <!-- 	 <link href="css/font-awesome.css" rel="stylesheet" > -->
    <script type="text/javascript" src="../../static/home/js/jquery-1.12.4.min.js"
            th:herf="@{home/js/jquery-1.12.4.min.js}"></script>
    <!--<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

</head>
<body>
<div class="public-header">
    <div class="public-header-top">
        <div class="public-container">
            <div class="public-left">
                <p>欢迎访问广东省信息物理融合系统重点实验室官网</p>
            </div>
            <ul class="public-header-list">
                <li><a href="#">登录</a></li>
                <li><a href="contact_us.html">联系我们</a></li>
            </ul>
        </div>
    </div>
    <div class="public-header-middle public-container clearfix">
        <div class="public-left">
            <div class="logo">
                <a href=""></a>
            </div>
        </div>
        <div class="public-middle">

        </div>
        <div class="public-right">
            <div class="public-search" style="margin-right: 40px;">
                <input type="text" class="public-input-text">
                <input type="submit" class="public-input-btn" value>
            </div>
        </div>
    </div>
    <div class="public-nav">
        <ul>
            <li class="item">
                <a href="index.html" class="hon">首页</a>
            </li>
            <li class="item">
                <a href="Team_introduction.html" class="hon">实验室概况</a>
                <ul class="subnav">
                    <li><a href="Team_introduction.html" class="hon1">团队简介</a></li>
                    <li><a href="Institutional_profile.html" class="hon1">机构简介</a></li>
                    <li><a href="project_brief.html" class="hon1">项目简介</a></li>

                </ul>
            </li>
            <li class="item">
                <a href="Research_Team.html" class="hon">科研团队</a>
                <ul class="subnav">
                    <li><a href="Professor.html" class="hon1">教授</a></li>
                    <li><a href="Associate professor.html" class="hon1">副教授</a></li>
                    <li><a href="Lecturer.html" class="hon1">讲师</a></li>

                </ul>
            </li>
            <li class="item">
                <a href="Research_Project.html" class="hon">科学研究</a>

            </li>
            <li class="item">
                <a href="Academic_communication.html" class="hon">学术交流</a>
            </li>
            <li class="item">
                <a href="scientific_achievements.html" class="hon">科研成果</a>
            </li>
            <li class="item">
                <a href="Talent_training.html" class="hon">人才培养</a>
                <ul class="subnav">
                    <li><a href="postdoctor.html" class="hon1">博士后</a></li>
                    <li><a href="doctor.html" class="hon1">博士</a></li>
                    <li><a href="graduate.html" class="hon1">研究生</a></li>
                </ul>
            </li>
            <li class="item">
                <a href="Cultural_activity.html" class="hon">文化活动</a>
            </li>
            <li class="item">
                <a href="Talent_recruitment.html" class="hon">人才招聘</a>
            </li>
        </ul>
    </div>
</div>
<div class="index-main">
    <div class="index-notice">
        <span style="font-size: 18px;">公告通知：</span>
        <div id="con" style="font-size: 18px;">
            <ul id="con1">
                <li>
                    <a href="">LLC实验室论坛研讨会的召开0</a>
                </li>
                <li>
                    <a href="">LLC实验室论坛研讨会的召开1</a>
                </li>
                <li>
                    <a href="">LLC实验室论坛研讨会的召开2</a>
                </li>
            </ul>
            <ul id="con2"></ul>
        </div>
        <!--<span>公告通知：</span>-->
        <!--<a href="">LLC实验室论坛研讨会的召开</a>-->
    </div>
    <div class="index-container">
        <div class="index-newarticle">
            <!--<div class="index-col-31  border active">-->
            <!--<img src="images/pic.jpg" width="635" height="280">-->
            <!--</div>-->
            <!--<div class="index-col-31  border">-->
            <!--<img src="images/pic.jpg" width="635" height="280">-->
            <!--</div>-->
            <!--<div class="index-col-31  border">-->
            <!--&lt;!&ndash;<img src="images/pic.jpg" width="635" height="280">&ndash;&gt;-->
            <!--<img src="images/pic.jpg" width="635" height="280">-->
            <!--</div>-->
            <div class="lunbo">
                <ul id="orgin">
                    <li><img src="../../static/home/images/labBrief.JPG" alt="" style="width: 638px;height: 380px;"
							 th:src="@{/home/images/labBrief.JPG}"></li>
                    <li><img src="../../static/home/images/we2.jpg" alt="" style="width: 638px;height: 380px;"
							 th:src="@{/home/images/we2.jpg}"></li>
                    <li><img src="../../static/home/images/image1.jpg" alt="" style="width: 638px;height: 380px;"
							 th:src="@{/home/images/image1.jpg}"></li>
                </ul>
                <ul id="controls">
                    <li class="start"></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="index-col-3 m115 border">
            <div class="index-col-title">
                <div class="title-left"><span>中心动态</span></div>
                <div class="title-right"><i></i></div>
            </div>
            <ul class="index-col-list list1">
                <li class="item"><i></i><a href="">LLC实验室召开项目总结报告会LLc实验室学术研究会</a><span class="item-time">04/03</span>
                </li>
                <li class="item"><i></i><a href="">LLC实验室召开项目总结报告会</a><span class="item-time">04/03</span></li>
                <li class="item"><i></i><a href="">LLC实验室召开项目总结报告会</a><span class="item-time">04/03</span></li>
                <li class="item"><i></i><a href="">LLC实验室召开项目总结报告会</a><span class="item-time">04/03</span></li>
                <li class="item"><i></i><a href="">LLC实验室召开项目总结报告会</a><span class="item-time">04/03</span></li>
                <li class="item"><i></i><a href="">LLC实验室召开项目总结报告会</a><span class="item-time">04/03</span></li>
                <li class="item"><i></i><a href="">LLC实验室召开项目总结报告会</a><span class="item-time">04/03</span></li>
            </ul>
        </div>
    </div>
</div>
<!--jQuery制作首页轮播图效果-->
<script type="text/javascript">
    var num = 0;
    var nextFn = function () {
        $('.imgList li').eq(num).stop().fadeOut(1000);
        num++;
        if (num > 2) {
            num = 0;
        }
        $('.btnList li').eq(num).addClass('current').siblings('li').removeClass('current');
        $('.imgList li').eq(num).stop().fadeIn(1000);
    }
    var prevFn = function () {
        //让上一张淡出
        $('.imgList li').eq(num).stop().fadeOut(1000);
        num--;
        if (num < 0) {
            num = 2;
        }
        //让上一个角标增加current...
        $('.btnList li').eq(num).addClass('current').siblings('li').removeClass('current');
        //让下一张淡入
        $('.imgList li').eq(num).stop().fadeIn(1000);
    }
    $('.rightBtn').click(nextFn);
    $('.leftBtn').click(prevFn);
    $('.btnList li').click(function (event) {
        //num未修改前代表上一张
        $('.imgList li').eq(num).stop().fadeOut(1000);
        num = $(this).index();
        // num修改后代表下一张
        //让下一个角标增加current...
        $('.btnList li').eq(num).addClass('current').siblings('li').removeClass('current');
        //让下一张淡入
        $('.imgList li').eq(num).stop().fadeIn(1000);
    });
</script>
<!--jQuery制作首页轮播图效果-->

<!--二级菜单栏-->
<script>
    $(function () {
        $(".public-nav li:has(ul)").hover(function () {
            $(this).find("a:first").css("background-color", "#00428f");
            $(this).find(".subnav").css("display", "block");

        }, function () {
            $(this).find("a:first").css("background-color", "#035ba6");
            $(this).find(".subnav").css("display", "none");
        })
    });
</script>
<!--二级菜单栏-->
<div class="clearfix"></div>


<div class="index-fun mt10">
    <div class="index-menu border">
        <ul>
            <li class="item"><i class="people"></i><a href>导师风采</a></li>
            <li class="item"><i class="file"></i><a href>文件管理中心</a></li>
            <li class="item"><i class="char"></i><a href>研究资料中心</a></li>
            <li class="item"><i class="cg"></i><a href>最新成果展示</a></li>
        </ul>
        <div class="index-contact">
            <i></i>
            <div class="contact-text">
                <p>电子邮箱：llcheng@gdut.edu.cn</p>
                <p>联系电话：+86-20-3922465</p>
            </div>
        </div>
    </div>
    <div class="index-fun-article border m110">
        <div class="fun-article-title">
            <div class="title-left">
                <span style="font-size: 20px;margin-left: -33px;">学术交流</span>
                <i style="margin: 1px 610px;"></i>
                <div class="title-bg"></div>
            </div>
            <div class="title-right"><i></i></div>
        </div>
        <div class="fun-article-left fl">
            <img src="../../static/home/images/list-pic.png" alt title
				 th:src="@{home/images/list-pic.png}">
        </div>
        <ul class="index-fun-list fr">
            <li class="item">
                <i></i>
                <a href>科研交流促进项目开发</a>
                <span class="item-time">04/18</span>
            </li>
            <li class="item">
                <i></i>
                <a href>科研交流促进项目开发</a>
                <span class="item-time">04/18</span>
            </li>
            <li class="item">
                <i></i>
                <a href>科研交流促进项目开发</a>
                <span class="item-time">04/18</span>
            </li>
            <li class="item">
                <i></i>
                <a href>科研交流促进项目开发LLc实验室学术研究会</a>
                <span class="item-time">04/18</span>
            </li>
            <li class="item">
                <i></i>
                <a href>科研交流促进项目开发</a>
                <span class="item-time">04/18</span>
            </li>
            <li class="item">
                <i></i>
                <a href>科研交流促进项目开发</a>
                <span class="item-time">04/18</span>
            </li>
        </ul>
    </div>
</div>
<!--<div class="clearfix"></div>-->

<div class="index-category-new mt15">
    <div class="index-col-3 border m110">
        <div class="col-title">
            <span class="title-text fl">论文</span>
            <div class="col-more fr"><a href><i></i></a></div>
        </div>
        <div class="col-list clearfix">
            <div class="index-lately">
                <div class="lately-date fl">
                    <span class="date-day">19</span>
                    <span class="date-other">2018-04</span>
                </div>
                <div class="lately-cont">
                    <p class="lately-title"><a>LLC实验室学术研究会</a></p>
                    <span class="lately-des">LLC实验室学术研究会</span>
                </div>
            </div>
            <ul class="index-col-list list3">
                <li class="item">
                    <i></i>
                    <a href>LLc实验室学术研究会LLc实验室学术研究会LLc实验室学术研究会</a>
                    <span class="item-time">04/19</span>
                </li>
                <li class="item">
                    <i></i>
                    <a href>LLc实验室学术研究会</a>
                    <span class="item-time">04/19</span>
                </li>
                <li class="item">
                    <i></i>
                    <a href>LLc实验室学术研究会</a>
                    <span class="item-time">04/19</span>
                </li>
                <li class="item">
                    <i></i>
                    <a href>LLc实验室学术研究会</a>
                    <span class="item-time">04/19</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="index-col-3 border m110">
        <div class="col-title"><span class="title-text fl">专利</span></div>
        <div class="col-more fr"><a href><i></i></a></div>
        <div class="col-list clearfix">
            <div class="index-lately">
                <div class="lately-date fl">
                    <span class="date-day">19</span>
                    <span class="date-other">2018-04</span>
                </div>
                <div class="lately-cont">
                    <p class="lately-title"><a>LLc实验室学术研究会</a></p>
                    <span class="lately-des">LLc实验室学术研究会</span>
                </div>
            </div>
            <ul class="index-col-list list3">
                <li class="item">
                    <i></i>
                    <a href>LLc实验室学术研究会</a>
                    <span class="item-time">04/19</span>
                </li>
                <li class="item">
                    <i></i>
                    <a href>LLc实验室学术研究会</a>
                    <span class="item-time">04/19</span>
                </li>
                <li class="item">
                    <i></i>
                    <a href>LLc实验室学术研究会</a>
                    <span class="item-time">04/19</span>
                </li>
                <li class="item">
                    <i></i>
                    <a href>LLc实验室学术研究会LLc实验室学术研究会</a>
                    <span class="item-time">04/19</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="index-col-3 border m110">
        <div class="col-title"><span class="title-text fl">软件著作权</span></div>
        <div class="col-more fr"><a
                href="file:///C:/Users/ke/Documents/WeChat%20Files/HK13537237768/Files/LLCWeb1/LLCWeb/index.html"><i></i></a>
        </div>
        <div class="col-list clearfix">
            <ul class="index-col-list list-num">
                <li class="item">
                    <i></i>
                    <a href="file:///C:/Users/ke/Documents/WeChat%20Files/HK13537237768/Files/LLCWeb1/LLCWeb/index.html">LLc实验室学术研究会</a>
                    <span class="item-time">04/19</span>
                </li>
                <li class="item">
                    <i></i>
                    <a href="file:///C:/Users/ke/Documents/WeChat%20Files/HK13537237768/Files/LLCWeb1/LLCWeb/index.html">LLc实验室学术研究会</a>
                    <span class="item-time">04/19</span>
                </li>
                <li class="item">
                    <i></i>
                    <a href="file:///C:/Users/ke/Documents/WeChat%20Files/HK13537237768/Files/LLCWeb1/LLCWeb/index.html">LLc实验室学术研究会</a>
                    <span class="item-time">04/19</span>
                </li>
                <li class="item">
                    <i></i>
                    <a href="file:///C:/Users/ke/Documents/WeChat%20Files/HK13537237768/Files/LLCWeb1/LLCWeb/index.html">LLc实验室学术研究会</a>
                    <span class="item-time">04/19</span>
                </li>
                <li class="item">
                    <i></i>
                    <a href="file:///C:/Users/ke/Documents/WeChat%20Files/HK13537237768/Files/LLCWeb1/LLCWeb/index.html">LLc实验室学术研究会</a>
                    <span class="item-time">04/19</span>
                </li>
                <li class="item">
                    <i></i>
                    <a href="file:///C:/Users/ke/Documents/WeChat%20Files/HK13537237768/Files/LLCWeb1/LLCWeb/index.html">LLc实验室学术研究会LLc实验室学术研究会LLc实验室学术研究会LLc实验室学术研究会</a>
                    <span class="item-time">04/19</span>
                </li>
            </ul>
        </div>


    </div>
</div>
<div style="margin: auto;width: 1107px;float: none;"><img src="../../static/home/images/ad-banner.jpg" style="margin-bottom: 8px;margin-top: 8px;"
														  th:src="@{home/images/ad-banner.jpg}"></div>
<div class="index-category-new mt15">
    <div class="index-col-3 border m110">
        <div class="col-title">
            <span class="title-text fl">会议纪要</span>
            <div class="col-more fr"><a href><i></i></a></div>
        </div>
        <div class="col-list clearfix">
            <div class="index-lately">
                <div class="lately-date fl">
                    <span class="date-day">19</span>
                    <span class="date-other">2018-04</span>
                </div>
                <div class="lately-cont">
                    <p class="lately-title"><a>LLC实验室学术研究会</a></p>
                    <span class="lately-des">LLC实验室学术研究会</span>
                </div>
            </div>
            <ul class="index-col-list list3">
                <li class="item">
                    <i></i>
                    <a href>LLc实验室学术研究会LLc实验室学术研究会LLc实验室学术研究会</a>
                    <span class="item-time">04/19</span>
                </li>
                <li class="item">
                    <i></i>
                    <a href>LLc实验室学术研究会</a>
                    <span class="item-time">04/19</span>
                </li>
                <li class="item">
                    <i></i>
                    <a href>LLc实验室学术研究会</a>
                    <span class="item-time">04/19</span>
                </li>
                <li class="item">
                    <i></i>
                    <a href>LLc实验室学术研究会</a>
                    <span class="item-time">04/19</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="index-col-3 border m110">
        <div class="col-title"><span class="title-text fl">文体活动</span></div>
        <div class="col-more fr"><a href><i></i></a></div>
        <div class="col-list clearfix">
            <div class="index-lately">
                <div class="lately-date fl">
                    <span class="date-day">19</span>
                    <span class="date-other">2018-04</span>
                </div>
                <div class="lately-cont">
                    <p class="lately-title"><a>LLc实验室学术研究会</a></p>
                    <span class="lately-des">LLc实验室学术研究会</span>
                </div>
            </div>
            <ul class="index-col-list list3">
                <li class="item">
                    <i></i>
                    <a href>LLc实验室学术研究会</a>
                    <span class="item-time">04/19</span>
                </li>
                <li class="item">
                    <i></i>
                    <a href>LLc实验室学术研究会</a>
                    <span class="item-time">04/19</span>
                </li>
                <li class="item">
                    <i></i>
                    <a href>LLc实验室学术研究会</a>
                    <span class="item-time">04/19</span>
                </li>
                <li class="item">
                    <i></i>
                    <a href>LLc实验室学术研究会LLc实验室学术研究会</a>
                    <span class="item-time">04/19</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="index-col-3 border m110">
        <div class="col-title"><span class="title-text fl">开放课题</span></div>
        <div class="col-more fr"><a
                href="file:///C:/Users/ke/Documents/WeChat%20Files/HK13537237768/Files/LLCWeb1/LLCWeb/index.html"><i></i></a>
        </div>
        <div class="col-list clearfix">
            <ul class="index-col-list list-num">
                <li class="item">
                    <i></i>
                    <a href="file:///C:/Users/ke/Documents/WeChat%20Files/HK13537237768/Files/LLCWeb1/LLCWeb/index.html">LLc实验室学术研究会</a>
                    <span class="item-time">04/19</span>
                </li>
                <li class="item">
                    <i></i>
                    <a href="file:///C:/Users/ke/Documents/WeChat%20Files/HK13537237768/Files/LLCWeb1/LLCWeb/index.html">LLc实验室学术研究会</a>
                    <span class="item-time">04/19</span>
                </li>
                <li class="item">
                    <i></i>
                    <a href="file:///C:/Users/ke/Documents/WeChat%20Files/HK13537237768/Files/LLCWeb1/LLCWeb/index.html">LLc实验室学术研究会</a>
                    <span class="item-time">04/19</span>
                </li>
                <li class="item">
                    <i></i>
                    <a href="file:///C:/Users/ke/Documents/WeChat%20Files/HK13537237768/Files/LLCWeb1/LLCWeb/index.html">LLc实验室学术研究会</a>
                    <span class="item-time">04/19</span>
                </li>
                <li class="item">
                    <i></i>
                    <a href="file:///C:/Users/ke/Documents/WeChat%20Files/HK13537237768/Files/LLCWeb1/LLCWeb/index.html">LLc实验室学术研究会</a>
                    <span class="item-time">04/19</span>
                </li>
                <li class="item">
                    <i></i>
                    <a href="file:///C:/Users/ke/Documents/WeChat%20Files/HK13537237768/Files/LLCWeb1/LLCWeb/index.html">LLc实验室学术研究会LLc实验室学术研究会LLc实验室学术研究会LLc实验室学术研究会</a>
                    <span class="item-time">04/19</span>
                </li>
            </ul>
        </div>


    </div>
</div>


<div class="clearfix"></div>
<div class="public-friendlinks">
    <div class="public-container">
        <p class="title"><img src="../../static/home/images/73edb0a0ead09dbc7375c7e80178d51.png"
							  th:src="@{home/images/73edb0a0ead09dbc7375c7e80178d51.png}">友情链接:</p>
        <p class="links">
            <a href="http://www.gdut.edu.cn/"><img src="../../static/home/images/_20180828233811.png"
												   th:src="@{home/images/_20180828233811.png}"></a>
            <a href="http://automation.gdut.edu.cn/"><img src="../../static/home/images/_201808282338111.png"
														  th:src="@{home/images/_201808282338111.png}"></a>
            <a href="http://jsjxy.gdut.edu.cn/"><img src="../../static/home/images/_201808282338112.png"
													 th:src="@{home/images/_201808282338112.png}"></a>
            <a href="http://yjs.gdut.edu.cn/"><img src="../../static/home/images/_201808282338113.png"
												   th:src="@{home/images/_201808282338113.png}"></a>
        </p>


        .
    </div>
</div>
<div class="public-footer">
    <div class="public-text">电话：86-21-21678901&nbsp;&nbsp;&nbsp;邮箱：llcheng@gdut.edu.cn</div>
    <div class="public-text">地址：广州市番禺区广州大学城外环西路100号&nbsp;&nbsp;&nbsp;邮政编码：51006</div>
    <div class="public-text">Copyright © 1995-2018 信息物理融合系统广东省重点实验室版权所有&nbsp;&nbsp;&nbsp;备案序号：粤ICP备18032668号-2</div>
</div>


</body>
<script>
    (function () {
        var area = document.getElementById('con');
        area.scrollTop = 0;
        var con1 = document.getElementById('con1');
        var con2 = document.getElementById('con2');

        con2.innerHTML = con1.innerHTML;

        function scrollUp() {
            if (area.scrollTop >= con1.offsetHeight) {
                area.scrollTop = 0;
            } else {
                area.scrollTop++;
            }
        }

        var timer = null;
        clearInterval(timer);
        timer = setInterval(scrollUp, 70);
        //为对象设置绑定鼠标滑过
        area.onmouseover = function () {
            clearInterval(timer);
        }
        //为对象绑定鼠标划出
        area.onmouseout = function () {
            timer = setInterval(scrollUp, 70);
        }
    })();
</script>
<script>
    var g = function (node) {
        if (node.substr(0, 1) == "#") {
            return document.getElementById(node.substr(1));
        }
    }
    var banner = g("#orgin");
    var controls = g("#controls");
    var controlsLis = controls.getElementsByTagName("li");
    var timer = null;//设置定时器
    var num = 0;
    for (var i = 0; i < controlsLis.length; i++) {
        controlsLis[i].index = i;
        controlsLis[i].onclick = function () {
            clearInterval(timer);
            for (var j = 0; j < controlsLis.length; j++) {
                controlsLis[j].className = ''//把所有的控制按钮颜色都去掉
            }
            this.className = 'start';//当前点击的按钮变色
            banner.style.left = -635 * this.index + "px";
            num = this.index;
            autoPlay();
        }
    }

    function autoPlay() {
        timer = setInterval(function () {
            if (num > 2) {
                num = 0;
            }
            for (var j = 0; j < controlsLis.length; j++) {
                controlsLis[j].className = ''//把所有的控制按钮颜色都去掉
            }
            controlsLis[num].className = 'start';
            banner.style.left = -635 * num + "px";
            num++;
        }, 4000)
    }

    autoPlay();
</script>
</html>