<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <!--<title>LLC实验室网站</title>-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../../static/home/images/favicon.ico"
          th:href="@{/home/images/favicon.ico}"/>
    <link rel="stylesheet" href="../../static/home/css/reset.css" type="text/css"
          th:href="@{/home/css/reset.css}">
    <link rel="stylesheet" href="../../static/home/css/public.css" type="text/css"
          th:href="@{/home/css/public.css}">
    <link rel="stylesheet" href="../../static/home/css/index.css" type="text/css"
          th:href="@{/home/css/index.css}">
    <meta name="description" content="jPaginate - jQuery Pagination Plugin"/>
    <meta name="keywords" content="jquery, plugin, pagination, fancy"/>
    <title>科研团队——广东省信息物理融合系统重点实验室</title>
    <link rel="stylesheet" href="../../static/home/css/header.css" type="text/css"
          th:href="@{/home/css/header.css}"/>
    <link rel="stylesheet" href="../../static/home/css/sidebar.css" type="text/css"
          th:href="@{/home/css/sidebar.css}"/>
    <link rel="stylesheet" href="../../static/home/css/meeting.css" type="text/css"
          th:href="@{/home/css/meeting.css}"/>
    <link rel="stylesheet" href="../../static/home/css/style.css" type="text/css"
          th:href="@{/home/css/style.css}"/>
    <link rel="stylesheet" href="../../static/home/css/papers.css" type="text/css"
          th:href="@{/home/css/papers.css}"/>
    <link rel="stylesheet" href="../../static/home/css/team.css" th:href="@{/home/css/team.css}">
</head>
<body>

<div class="public-header" th:include="template/header_template :: header_template">
</div>

<div class="middle">
    <div class="container middle_container">
        <div class="middle_content">
            <div class="middle_l" id="temlate_middle">
                <!-- <h1><span>机构概况</span></h1> -->
                <ul id='resultType' class="tmo_list2">
                    <li class="ll first"><span>科研团队</span></li>
                    <li class='ll'>
                        <a href='Professor#1.html' class='ll_ref'>
                            <i></i>
                            <span>教授</span>
                        </a>
                    </li>
                    <li class='ll'>
                        <a href='Professor#2.html' class='ll_ref'>
                            <i></i>
                            <span>副教授</span>
                        </a>
                    </li>
                    <li class='ll'>
                        <a href='Professor#3.html' class='ll_ref'>
                            <i></i>
                            <span>讲师</span>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="middle_r">
                <div class="crumb">
                    <ul id="crumbs">
                        <li><a href="index.html">首页</a></li>
                        <li><span>&nbsp;/&nbsp;</span></li>
                        <li><a href="Research_Team.html">科研团队</a></li>
                    </ul>
                </div>

                <div id="professor" class="team_group">
                    <div class="team_head">
                        <div class="team_circle">»</div>
                        <div class="team_line" style="width:100px;"></div>
                        <span>教授</span>
                        <div class="team_line" style="width:500px;"></div>
                    </div>
                    <!--图片、老师名称、链接需要改变 -->
                    <ul class="team_content" style="overflow:hidden;">
<!--                         <li>
                            <a href="Professor.html"><img src="../../static/home/images/yicun.jpg" th:src="@{/home/images/yicun.jpg}" alt="教授A" width="120"></a>
                            <a href="Professor.html" class="team_name"><h4>教授A</h4></a>
                        </li> -->
                    </ul>
                </div>

                <div id="associate_pro" class="team_group">
                    <div class="team_head">
                        <div class="team_circle">»</div>
                        <div class="team_line" style="width:100px;"></div>
                        <span>副教授</span>
                        <div class="team_line" style="width:500px;"></div>
                    </div>
                    <!--图片、老师名称、链接需要改变 -->
                    <ul class="team_content" style="overflow:hidden;">
<!--                         <li>
                            <a href="Associate_professor.html"><img src="../../static/home/images/yicun.jpg" th:src="@{/home/images/yicun.jpg}" alt="副教授A" width="120"></a>
                            <a href="Associate_professor.html" class="team_name"><h4>副教授A</h4></a>
                        </li>
                        <li>
                            <a href="Associate_professor.html"><img src="../../static/home/images/yicun.jpg" th:src="@{/home/images/yicun.jpg}" alt="副教授B" width="120"></a>
                            <a href="Associate_professor.html" class="team_name"><h4>副教授B</h4></a>
                        </li>
                        <li>
                            <a href="Associate_professor.html"><img src="../../static/home/images/yicun.jpg" th:src="@{/home/images/yicun.jpg}" alt="副教授C" width="120"></a>
                            <a href="Associate_professor.html" class="team_name"><h4>副教授C</h4></a>
                        </li> -->
                    </ul>
                </div>

                <div id="lecturer" class="team_group">
                    <div class="team_head">
                        <div class="team_circle">»</div>
                        <div class="team_line" style="width:100px;"></div>
                        <span>讲师</span>
                        <div class="team_line" style="width:500px;"></div>
                    </div>
                    <!--图片、老师名称、链接需要改变 -->
                    <ul class="team_content" style="overflow:hidden;">
                    <!--<li>
                            <a href="Lecturer.html"><img src="../../static/home/images/yicun.jpg" th:src="@{/home/images/yicun.jpg}" alt="讲师A" width="120"></a>
                            <a href="Lecturer.html" class="team_name"><h4>讲师A</h4></a>
                        </li>
                        <li>
                            <a href="Lecturer.html"><img src="../../static/home/images/yicun.jpg" th:src="@{/home/images/yicun.jpg}" alt="讲师J" width="120"></a>
                            <a href="Lecturer.html" class="team_name"><h4>讲师J</h4></a>
                        </li> -->
                    </ul>
                </div>

            </div>
        </div>
        <div style="margin-top: 50px;">
            <hr style="height:1px;border:0px;background-color:#D5D5D5;color:#b7b7b7;"/>
        </div>
    </div>
</div>
<div th:include="template/footer_template :: footer_template"></div>
<script type="text/javascript" src="../../static/home/js/jquery-1.12.4.min.js"
        th:src="@{home/js/jquery-1.12.4.min.js}"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
></script>
<script src="../../static/home/Scripts/jquery.paginate.js" th:src="@{home/Scripts/jquery.paginate.js}"></script>
<script type="text/javascript" src="../../static/home/js/common.js"
    th:src="@{/home/js/common.js}"></script>
<script>
$(function(){
    var professor = getPeopleByPosition("教授","/people/getByPosition");
    //console.log(professor);
    drawPeople(professor.length,professor,'#professor');
    var associate_pro = getPeopleByPosition("副教授","/people/getByPosition");
    //console.log(associate_pro);
    drawPeople(associate_pro.length,associate_pro,'#associate_pro');
    var lecturer = getPeopleByPosition("讲师","/people/getByPosition");
    //console.log(lecturer);
    drawPeople(lecturer.length,lecturer,'#lecturer');
});
//渲染人物
function drawPeople(num,data,id){

    $(id).find('ul.team_content').eq(0).empty();
    for(var i = 0; i < num; i++){
        var imgPath = '/custom/images/person-img.jpg';
        var htmlText = '';

        if(data[i].portrait!=undefined&&data[i].portrait!=null&&data[i].portrait!=0)
            imgPath= '/image/getPath?id='+data[i].portrait;

        htmlText += '<li>' +
                '<a href="/ResearchProject/professor_demo.html?id='+data[i].id+'">' +
                '   <img style="width: 120px;height: 130px;" src="'+imgPath+
                '" alt="'+data[i].name+'" width="120"></a>' +
                '<a href="/ResearchProject/professor_demo.html?id='+data[i].id+'" class="team_name"><h4>'+data[i].name+'</h4></a>' +
                '</li>';

        $(id).find('ul.team_content').eq(0).append(htmlText);
    }
}
</script>
</body>
</html>
