<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <!--<title>LLC实验室网站</title>-->
    <link rel="shortcut icon" href="../../static/home/images/bitbug_favicon .ico"
    th:href="@{/home/images/bitbug_favicon .ico}"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../../static/home/css/reset.css" rel="stylesheet" th:href="@{/home/css/reset.css}">
    <link href="../../static/home/css/public.css" rel="stylesheet" th:href="@{/home/css/public.css}">
    <link href="../../static/home/css/index.css" rel="stylesheet" th:href="@{/home/css/index.css}">
   <script type="text/javascript" src="../../static/home/js/jquery-1.12.4.min.js" th:href="@{/js/jquery-1.12.4.min.js}"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <meta name="description" content="jPaginate - jQuery Pagination Plugin"/>
    <meta name="keywords" content="jquery, plugin, pagination, fancy"/>
    <title>人才培养——广东省信息物理融合系统重点实验室</title>
    <link rel="stylesheet" href="../../static/home/css/header.css" type="text/css" th:href="@{/home/css/header.css}"/>
    <link rel="stylesheet" href="../../static/home/css/sidebar.css" type="text/css" th:href="@{/home/css/sidebar.css}">
    <link rel="stylesheet" href="../../static/home/css/meeting.css" type="text/css" th:href="@{/home/css/meeting.css}"/>
    <link rel="stylesheet" href="../../static/home/css/style.css" type="text/css" th:href="@{/home/css/style.css}"/>
    <link rel="stylesheet" href="../../static/home/css/papers.css" type="text/css" th:href="@{/home/css/papers.css}"/>
    <link rel="stylesheet" href="../../static/home/css/team.css" th:href="@{/home/css/team.css}">
    <script src="../../static/home/Scripts/jquery.paginate.js" th:href="@{/Scripts/jquery.paginate.js}"></script>
</head>
<body>
<div class="public-header">
    <div class="public-header-top">
        <div class="public-container">
            <div class="public-left">
                <p>欢迎访问广东省信息物理融合系统重点实验室官网</p>
            </div>
            <ul class="public-header-list">
                <li><a href="#">登录</a></li>
                <li><a href="contact_us.html">联系我们</a></li>
            </ul>
        </div>
    </div>
    <div class="public-header-middle public-container clearfix">
        <div class="public-left">
            <div class="logo">
                <a href=""></a>
            </div>
        </div>
        <div class="public-middle">

        </div>
        <div class="public-right">
            <div class="public-search" style="margin-right: 40px;">
              <input type="text" class="public-input-text">
              <input type="submit" class="public-input-btn" value>




          </div>
        </div>
    </div>
    <div class="public-nav">
        <ul>
            <li class="item">
                <a href="index.html" class="hon">首页</a>
            </li>
            <li class="item">
                <a href="Team_introduction.html" class="hon">实验室概况</a>
                <ul class="subnav">
                    <li><a href="Team_introduction.html" class="hon1">团队简介</a></li>
                    <li><a href="Institutional_profile.html" class="hon1">机构简介</a></li>
                    <li><a href="project_brief.html" class="hon1">项目简介</a></li>

                </ul>
            </li>
            <li class="item">
                <a href="Research_Team.html" class="hon">科研团队</a>
                <ul class="subnav">
                    <li><a href="Professor.html" class="hon1">教授</a></li>
                    <li><a href="Associate_professor.html" class="hon1">副教授</a></li>
                    <li><a href="Lecturer.html" class="hon1">讲师</a></li>

                </ul>
            </li>
            <li class="item">
                <a href="Research_Project.html" class="hon">科学研究</a>

            </li>
            <li class="item">
                <a href="Academic_communication.html" class="hon">学术交流</a>
            </li>
            <li class="item">
                <a href="scientific_achievements.html" class="hon">科研成果</a>
            </li>
            <li class="item">
                <a href="Talent_training.html" class="hon">人才培养</a>
                <ul class="subnav" >
                    <li><a href="postdoctor.html" class="hon1">博士后</a></li>
                    <li><a href="doctor.html" class="hon1">博士</a></li>
                    <li><a href="graduate.html" class="hon1">研究生</a></li>
                </ul>
            </li>
            <li class="item">
                <a href="Cultural_activity.html" class="hon">文化活动</a>
            </li>
            <li class="item">
                <a href="Talent_recruitment.html" class="hon">人才招聘</a>
            </li>
        </ul>
    </div>
</div>
<div class="middle">
    <div class="container middle_container">
        <div class="middle_content">
            <div class="middle_l" id="temlate_middle">
                <!-- <h1><span>机构概况</span></h1> -->
                <ul id='resultType' class="tmo_list2">
                    <li class="ll first"><span>人才培养</span></li>
                    <li class='ll'>
                        <a href='postdoctor.html' class='ll_ref'>
                            <i></i>
                            <span>博士后</span>
                        </a>
                    </li>
                    <li class='ll'>
                        <a href='doctor.html' class='ll_ref'>
                            <i></i>
                            <span>博士</span>
                        </a>
                    </li>
                    <li class='ll'>
                        <a href='graduate.html' class='ll_ref'>
                            <i></i>
                            <span>研究生</span>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="middle_r">
                <div class="crumb">
                    <ul id="crumbs">
                        <li><a href="index.html">首页</a></li>
                        <li><span>&nbsp;/&nbsp;</span></li>
                        <li><a href="Talent_training.html">人才培养</a></li>
                    </ul>
                </div>

                <div id="postdoctor" class="team_group">
                    <div class="team_head">
                        <div class="team_circle">»</div>
                        <div class="team_line" style="width:100px;"></div>
                        <span>博士后</span>
                        <div class="team_line" style="width:500px;"></div>
                        <a href="postdoctor.html">»更多</a>
                    </div>
                    <!--图片、老师名称、链接需要改变 -->
                    <ul class="team_content" style="overflow:hidden;">
                        <li>
                            <a href="postdoctor.html"><img src="../../static/home/images/rencai.jpg" th:src="@{/home/images/rencai.jpg}" alt="博士后A" width="120"></a>
                            <a href="postdoctor.html" class="team_name"><h4>博士后A</h4></a>
                        </li>
                    </ul>
                </div>

                <div id="doctor" class="team_group">
                    <div class="team_head">
                        <div class="team_circle">»</div>
                        <div class="team_line" style="width:100px;"></div>
                        <span>博士</span>
                        <div class="team_line" style="width:500px;"></div>
                        <a href="doctor.html">»更多</a>
                    </div>
                    <!--图片、老师名称、链接需要改变 -->
                    <ul class="team_content" style="overflow:hidden;">
                        <li>
                            <a href="doctor.html"><img src="../../static/home/images/rencai.jpg" th:src="@{/home/images/rencai.jpg}" alt="博士A" width="120"></a>
                            <a href="doctor.html" class="team_name"><h4>博士A</h4></a>
                        </li>
                        <li>
                            <a href="doctor.html"><img src="../../static/home/images/rencai.jpg" th:src="@{/home/images/rencai.jpg}" alt="博士B" width="120"></a>
                            <a href="doctor.html" class="team_name"><h4>博士B</h4></a>
                        </li>
                    </ul>
                </div>

                <div id="graduate" class="team_group">
                    <div class="team_head">
                        <div class="team_circle">»</div>
                        <div class="team_line" style="width:100px;"></div>
                        <span>研究生</span>
                        <div class="team_line" style="width:500px;"></div>
                        <a href="graduate.html">»更多</a>
                    </div>
                    <!--图片、老师名称、链接需要改变 -->
                    <ul class="team_content" style="overflow:hidden;">
                        <li>
                            <a href="graduate.html"><img src="../../static/home/images/rencai.jpg" th:src="@{/home/images/rencai.jpg}" alt="研究生A" width="120"></a>
                            <a href="graduate.html" class="team_name"><h4>研究生A</h4></a>
                        </li>
                        <li>
                            <a href="graduate.html"><img src="../../static/home/images/rencai.jpg" th:src="@{/home/images/rencai.jpg}" alt="研究生B" width="120"></a>
                            <a href="graduate.html" class="team_name"><h4>研究生B</h4></a>
                        </li>
                        <li>
                            <a href="graduate.html"><img src="../../static/home/images/rencai.jpg" th:src="@{/home/images/rencai.jpg}" alt="研究生C" width="120"></a>
                            <a href="graduate.html" class="team_name"><h4>研究生C</h4></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>








<div class="public-footer">
    <div class="public-text">电话：86-21-21678901&nbsp;&nbsp;&nbsp;邮箱：llcheng@gdut.edu.cn</div>
    <div class="public-text">地址：广州市番禺区广州大学城外环西路100号&nbsp;&nbsp;&nbsp;邮政编码：51006</div>
    <div class="public-text">Copyright © 1995-2018 信息物理融合系统广东省重点实验室版权所有&nbsp;&nbsp;&nbsp;备案序号：粤ICP备18032668号-2</div>
</div>

</body>
    <!--二级菜单栏-->
    <script>
     $(function(){
             $(".public-nav li:has(ul)").hover(function() {
             $(this).find("a:first").css("background-color","#00428f");
                 $(this).find(".subnav").css("display","block");

         },function() {
             $(this).find("a:first").css("background-color","#035ba6");
             $(this).find(".subnav").css("display","none");
         })
     });
    </script>
</html>
