<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <!--<title>LLC实验室网站</title>-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../../static/home/images/bitbug_favicon.ico"
          th:href="@{/home/images/bitbug_favicon.ico}"/>
    <link rel="stylesheet" href="../../static/home/css/reset.css" type="text/css"
          th:href="@{/home/css/reset.css}">
    <link rel="stylesheet" href="../../static/home/css/public.css" type="text/css"
          th:href="@{/home/css/public.css}">
    <link rel="stylesheet" href="../../static/home/css/index.css" type="text/css"
          th:href="@{/home/css/index.css}">
    <meta name="description" content="jPaginate - jQuery Pagination Plugin"/>
    <meta name="keywords" content="jquery, plugin, pagination, fancy"/>
    <title>人才招聘——广东省信息物理融合系统重点实验室</title>
    <link rel="stylesheet" href="../../static/home/css/header.css" type="text/css"
          th:href="@{/home/css/header.css}"/>
    <link rel="stylesheet" href="../../static/home/css/sidebar.css" type="text/css"
          th:href="@{/home/css/sidebar.css}"/>
    <link rel="stylesheet" href="../../static/home/css/meeting.css" type="text/css"
          th:href="@{/home/css/meeting.css}"/>
    <link rel="stylesheet" href="../../static/home/css/style.css" type="text/css"
          th:href="@{/home/css/style.css}"/>
    <link rel="stylesheet" href="../../static/home/css/papers.css" type="text/css"
          th:href="@{/home/css/papers.css}"/>
</head>
<body>
<div class="public-header" th:include="template/header_template :: header_template"></div>
<div class="meetingpage">
    <div class="container middle_container">
        <div class="middle_content" style="margin-bottom: 40px;">
            <div class="middle_l" id="temlate_middle">
                <!-- <h1><span>机构概况</span></h1> -->
                <ul id="resultType" class="tmo_list2">
                    <li class="ll first"><span>人才招聘</span></li>
                    <li class="ll" id="base">
                        <a id="btn-1" href="Talent_recruitment.html" class="ll_ref">
                            <i></i>
                            <span>团队助理招聘</span>
                        </a>
                    </li>
                    <li class="ll">
                        <a id="btn-2" href="Talent_recruitment1.html" class="ll_ref active-left">
                            <i></i>
                            <span>博士后招聘</span>
                        </a>
                    </li>
                    <li class=" ll">
                        <a id="btn-3" href="Talent_recruitment2.html" class="ll_ref">
                            <i></i>
                            <span>教师招聘</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="middle_r">
                <div class="crumb">
                    <ul id="crumbs">
                        <li><a href="index.html">首页</a></li>
                        <li><span>&nbsp;/&nbsp;</span></li>
                        <li><a href="Talent_recruitment.html">人才招聘</a></li>
                    </ul>
                </div>
                <div class="outline_r">
                    <div class="project_content">
                        <div class="main-right">
                            <!--ke-tit-->
                            <div class="right-nr">
                                <div id="div-title" class="view-title" style="text-align: center;">
                                    <h1>团队助理招聘</h1>
                                </div>
                                <div class="view-cnt">
                                    <div style="margin-top:30px; width: 800px;height: 800px;" id="example1"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div style="margin-top: 50px;">
            <hr style="height:1px;border:0px;background-color:#D5D5D5;color:#b7b7b7;"/>
        </div>
    </div>
</div>


<div class="clearfix"></div>

<div class="public-footer" th:include="template/footer_template"></div>

<script type="text/javascript" src="../../static/home/js/jquery-1.12.4.min.js"
        th:src="@{home/js/jquery-1.12.4.min.js}"></script>
<script type="text/javascript" src="../../static/home/js/pdfobject.min.js"
        th:src="@{/home/js/pdfobject.min.js}"></script>

<script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../static/home/js/common.js"
        th:src="@{/home/js/common.js}"></script>
<script>

    $(document).ready(function () {

        loadActivity(2);
    });

</script>
</body>

</html>
