<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <title>人才招聘——广东省信息物理融合系统重点实验室</title>
    <link rel="shortcut icon" href="images/bitbug_favicon .ico"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="css/reset.css" rel="stylesheet" >
    <link href="css/public.css" rel="stylesheet" >
    <link href="css/index.css" rel="stylesheet" >
    <script type="text/javascript" src="jquery-1.12.4.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="description" content="jPaginate - jQuery Pagination Plugin"/>
    <meta name="keywords" content="jquery, plugin, pagination, fancy"/>

    <script src="Scripts/jquery-3.1.0.js"></script>

    <link rel="stylesheet" href="css/header.css" type="text/css"/>
    <link rel="stylesheet" href="css/meeting.css" type="text/css"/>
    <link rel="stylesheet" href="css/bottom.css" type="text/css">

    <!--------------------------侧边栏的样式-------------------------->
    <link rel="stylesheet" href="css/sidebar.css" type="text/css"/>
    <!--------------------------分页的样式和Js-------------------------->
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <script src="Scripts/jquery.paginate.js"></script>

    <script src="js/json.js"></script>
    <script src="Admin/js/common.js"></script>
    <script src="js/meeting.js"></script>
    <script src="js/header.js"></script>
    <script src="js/bottom.js"></script>

</head>
<body>
<div class="public-header">
    <div class="public-header-top">
        <div class="public-container">
            <div class="public-left">
                <p>欢迎访问广东省信息物理融合系统重点实验室官网</p>
            </div>
            <ul class="public-header-list">
                <li><a href="#">登录</a></li>
                <li><a href="contact us.html">联系我们</a></li>
            </ul>
        </div>
    </div>
    <div class="public-header-middle public-container clearfix">
        <div class="public-left">
            <div class="logo">
                <a href=""></a>
            </div>
        </div>
        <div class="public-middle">

        </div>
        <div class="public-right">
            <div class="public-search" style="margin-right: 40px;">
              <input type="text" class="public-input-text">
              <input type="submit" class="public-input-btn" value>




          </div>
        </div>
    </div>
    <div class="public-nav">
        <ul>
            <li class="item">
                <a href="index.html" class="hon">首页</a>
            </li>
            <li class="item">
                <a href="Team introduction.html" class="hon">实验室概况</a>
                <ul class="subnav">
                    <li><a href="Team introduction.html" class="hon1">团队简介</a></li>
                    <li><a href="Institutional%20profile.html" class="hon1">机构简介</a></li>
                    <li><a href="project%20brief.html" class="hon1">项目简介</a></li>

                </ul>
            </li>
            <li class="item">
                <a href="Research Team.html" class="hon">科研团队</a>
                <ul class="subnav">
                    <li><a href="Professor.html" class="hon1">教授</a></li>
                    <li><a href="Associate professor.html" class="hon1">副教授</a></li>
                    <li><a href="Lecturer.html" class="hon1">讲师</a></li>

                </ul>
            </li>
            <li class="item">
                <a href="Research Project.html" class="hon">科学研究</a>

            </li>
            <li class="item">
                <a href="Academic communication.html" class="hon">学术交流</a>
            </li>
            <li class="item">
                <a href="scientific achievements.html" class="hon">科研成果</a>
            </li>
            <li class="item">
                <a href="Talent training.html" class="hon">人才培养</a>
                <ul class="subnav" >
                    <li><a href="postdoctor.html" class="hon1">博士后</a></li>
                    <li><a href="doctor.html" class="hon1">博士</a></li>
                    <li><a href="graduate.html" class="hon1">研究生</a></li>
                </ul>
            </li>
            <li class="item">
                <a href="Cultural activity.html" class="hon">文化活动</a>
            </li>
            <li class="item">
                <a href="Talent recruitment.html" class="hon">人才招聘</a>
            </li>
        </ul>
    </div>
</div>

<div class="meetingpage">
     <div class="container middle_container">
        <div class="middle_content" style="margin-bottom: 40px;">
            <div class="middle_l" id="temlate_middle">
                <!-- <h1><span>机构概况</span></h1> -->
                <ul id="lmenu" class="tmo_list2">
                    <li class="ll first"><span>人才招聘</span></li>
                    <li class="ll" id="base">
                        <a href="Talent recruitment.html" class="ll_ref" style="margin-top: 23px;background:#6ad;" >

                            <span>实验室助理</span>
                        </a>
                    </li>
                    <li class="ll" id="network">
                        <a href="Talent recruitment1.html" class="ll_ref" >

                            <span>博士后</span>
                        </a>
                    </li>
                    <li class=" ll" id="bigdata">
                        <a href="Talent recruitment2.html" class="ll_ref">

                            <span>实验室助理</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="middle_r">
                <div class="crumb">
                    <ul id="crumbs">
                        <li><a href="index.html">首页</a></li>
                        <li><span>&nbsp;/&nbsp;</span></li>
                        <li><a href="Talent recruitment.html">人才招聘</a></li>
                    </ul>
                </div>
                <div class="outline_r">

                    <div class="project_content">
                        <div class="main-right">

            <!--ke-tit-->
            <div class="right-nr">


    <div class="view-title">
        <h1></h1>
    </div>
    <div class="view-cnt">
        <table style="width:790px;" width="95%" cellspacing="1" cellpadding="5" border="1" align="center">
    <tbody>
        <tr>
            <td style="width: 100px;" height="22" align="center">职位名称：</td>
            <td colspan="3">&nbsp;实验室助理</td>

        </tr>
        <tr>
            <td height="22" align="center">工作地点：</td>
            <td colspan="3">&nbsp;广东工业大学</td>
        </tr>
        <tr>
            <td height="22" align="center">工资待遇：</td>
            <td>&nbsp;面谈</td>
            <td align="center">发布日期：</td>
            <td>&nbsp;2018/9/1</td>
        </tr>
        <tr>
            <td height="26" align="center">需求人数：</td>
            <td align="center">
            <div align="left">&nbsp;1-2人</div>
            </td>
            <td align="center">有效期限：</td>
            <td align="center">
            <div align="left">&nbsp;120天</div>
            </td>
        </tr>
        <tr>
            <td height="26" align="center">具体要求：</td>
            <td colspan="3" align="center">
            <table width="100%" cellspacing="0" cellpadding="5" border="0">
                <tbody>
                    <tr>
                        <td>&nbsp;
                        <p align="left"><strong>&nbsp;&nbsp;&nbsp; 广东工业大学某实验室招聘实验室助理</strong></p>

                        <p align="left">&nbsp; &nbsp; &nbsp; &nbsp;作为中国教育部“985工程”二期建设的研究实体先进材料平台，面对能源短缺的世界性严峻形势，整合复旦大学在新能源材料、储能材料和催化材料等多学科领域的研究力量，于2008年10月在复旦大学江湾校区成立了新能源研究院，旨在加快推进太阳能、生物质能等新型能源的开发利用，成为我国节能减排领域的原创性研究基地。研究院以新能源材料研究为切入点，重点开展高效储能材料、太阳能材料、化石能源新技术、生物质能、节能技术等五个方面的研究。新能源研究院采用了国际化研究单位PI模式进行运行与管理，为聘用人员提供优厚的薪酬、经费与优良的科研环境以及生活待遇。</p>

                        <p align="left">&nbsp; &nbsp; &nbsp; &nbsp;欢迎任何有志于高效储能材料、太阳能材料、化石能源新技术、生物质能、节能技术等等研究领域的高级人才的加盟。</p>

                        <p align="left">&nbsp;</p>

                        <p align="left"><strong>一、招聘岗位：</strong></p>

                        <p align="left">实验室助理</p>

                        <p align="left">&nbsp;</p>

                        <p align="left"><strong>二、招聘要求</strong></p>

                        <p style="margin-left:15.75pt;">1、具有博士学位，在国内外学术界有较大影响，并有能力领导研究团队从事本领域的国际前沿研究工作。</p>

                        <p style="margin-left:15.75pt;">2、主持过或主要参加过重大科研计划和项目、大型国际合作项目，在相关学术领域已取得了被国内外同行专家公认的突出成果。</p>

                        <p style="margin-left:15.75pt;">3、在本专业领域SCI刊物上发表过对本领域发展具有重要影响力并被同行认可的学术论文。</p>

                        <p style="margin-left:15.75pt;">4、已获得或有潜力获得教育部长江特聘教授或国家杰出青年基金获得者优先考虑。</p>

                        <p style="margin-left:15.75pt;">5、身体健康，具有良好的品德、学术与科研道德，以及团队合作精神；应聘者国籍不限，年工作时间全聘9个月或以上，分时3个月以上。</p>

                        <p style="margin-left:15.75pt;">&nbsp;</p>

                        <p align="left"><strong>三、工资和住房待遇</strong></p>

                        <p align="left">根据应聘岗位，提供优厚的具有竞争力的薪酬、福利与住房待遇。</p>

                        <p align="left">&nbsp;</p>

                        <p align="left"><strong>四、材料递交</strong></p>

                        <p align="left">应聘者向研究院行政办公室递交申请书及相关材料，包括<br>
                        （1）应聘申请书，包括本人意愿、工作设想及预期目标；<br>
                        （2）本人中英文简历；<br>
                        （3）充分反映本人学术水平的有关材料，包括：论著目录、近五年来公开发表的论文及被收录和引用情况、获奖情况和主持完成的研究项目等；<br>
                        （4）三位以上本学科领域国际知名同行专家学者的推荐信及相关证明材料。&nbsp;</p>

                        <p align="left">&nbsp;</p>

                        <p align="left">联系人：程良伦</p>

                        <p align="left">电子邮件：<a href="mailto:shnl@fudan.edu.cn">lgdut@gdut.edu.cn</a></p>

                        <p align="left">电话：+86-21-51630210</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>

        <div id="Pagination" style="padding-left: 200px; margin-top: 10px;">
        </div>
        <div class="clearfix">
        </div>
    </div>


            </div>
        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>









<div class="clearfix"></div>
<!--<div class="public-friendlinks">
        <div class="public-container">
        <p class="title">友情链接:</p>
        <p class="links">
            <a href="http://www.gdut.edu.cn/">广东工业大学</a>
            <a href="http://www.gdut.edu.cn/">广东工业大学</a>
        </p>
        </div>
    </div>-->
<div class="public-footer">
    <div class="public-text">电话：86-21-21678901&nbsp;&nbsp;&nbsp;邮箱：llcheng@gdut.edu.cn</div>
    <div class="public-text">地址：广州市番禺区广州大学城外环西路100号&nbsp;&nbsp;&nbsp;邮政编码：51006</div>
    <div class="public-text">Copyright © 1995-2018 信息物理融合系统广东省重点实验室版权所有&nbsp;&nbsp;&nbsp;备案序号：粤ICP备18032668号-2</div>
</div>



</body>
	<script>
     $(function(){
             $(".public-nav li:has(ul)").hover(function() {
             $(this).find("a:first").css("background-color","#00428f");
                 $(this).find(".subnav").css("display","block");

         },function() {
             $(this).find("a:first").css("background-color","#035ba6");
             $(this).find(".subnav").css("display","none");
         })
     });
    </script>

</html>