<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <!--<title>LLC实验室网站</title>-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../../static/home/images/bitbug_favicon.ico"
          th:href="@{/home/images/bitbug_favicon.ico}"/>

    <link rel="stylesheet" href="../../static/home/css/reset.css" type="text/css"
          th:href="@{/home/css/reset.css}">
    <link href="../../static/home/css/public.css" rel="stylesheet"
          th:href="@{/home/css/public.css}">
    <link href="../../static/home/css/index.css" rel="stylesheet"
          th:href="@{/home/css/index.css}">
    <meta name="description" content="jPaginate - jQuery Pagination Plugin"/>
    <meta name="keywords" content="jquery, plugin, pagination, fancy"/>
    <title>实验室概况——广东省信息物理融合系统重点实验室</title>
    <link rel="stylesheet" href="../../static/home/css/header.css" type="text/css"
          th:href="@{/home/css/header.css}"/>
    <link rel="stylesheet" href="../../static/home/css/sidebar.css" type="text/css"
          th:href="@{/home/css/sidebar.css}"/>
    <link rel="stylesheet" href="../../static/home/css/meeting.css" type="text/css"
          th:href="@{/home/css/meeting.css}"/>
    <link rel="stylesheet" href="../../static/home/css/style.css" type="text/css"
          th:href="@{/home/css/style.css}"/>
    <link rel="stylesheet" href="../../static/home/css/papers.css" type="text/css"
          th:href="@{/home/css/papers.css}"/>

</head>
<body>
<div class="public-header" th:include="template/header_template :: header_template">

</div>
<div class="middle">
    <div class="container middle_container">
        <div class="middle_content">
            <div class="middle_l" id="temlate_middle">
                <!-- <h1><span>机构概况</span></h1> -->
                <ul id='resultType' class="tmo_list2">
                    <li class="ll first"><span>实验室概况</span></li>
                    <li class='ll'>
                        <a href='#1' class='ll_ref'>
                            <i></i>
                            <span>团队简介</span>
                        </a>
                    </li>
                    <li class='ll'>
                        <a href='#2' class='ll_ref'>
                            <i></i>
                            <span>机构简介</span>
                        </a>
                    </li>
                    <li class='ll'>
                        <a href='#3' class='ll_ref'>
                            <i></i>
                            <span>项目简介</span>
                        </a>
                    </li>

                </ul>

            </div>
            <div class="middle_r">
                <div class="crumb">
                    <ul id="crumbs">
                        <li><a href="index.html">首页</a></li>
                        <li><span>&nbsp;/&nbsp;</span></li>
                        <li><a href="Team_introduction#1.html">实验室概况</a></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <!--实验室简介-->
                <div id="document-preview" style="max-width: 800px;"></div>

            </div>
        </div>
    </div>
</div>
<div class="public-footer" th:include="template/footer_template :: footer_template"></div>
<script type="text/javascript" src="../../static/home/js/jquery-1.12.4.min.js"
        th:src="@{/home/js/jquery-1.12.4.min.js}"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="../../static/home/js/common.js"
        th:src="@{/home/js/common.js}"></script>
</body>
<!--二级菜单栏-->
<script>
    $(function () {

        // 监听请求更改--左侧导航栏
        $("a.ll_ref").click(function(){
            var index = $(this).parent().index();//获取li的索引
            //加载对应页面
            initTeamList(index);
        });

        //实验室概况点击跳转
        $("#crumbs").find('li').eq(2).click(function(){
            initTeamList(1);
        });

        $('.public-nav').find('li.item').eq(1).find('a.hon').click(function(){
            initTeamList(1);
        });
        $('.public-nav').find('li.item').eq(1).find('a.hon1').click(function(){
            var index = $(this).parent().index()+1;
            initTeamList(index);
});
    });
</script>
<!--请求js-->
<script>
    $(document).ready(function () {
        //获取document对应的内容信息，初始化
        var url = location.href;
        url = url.split("#");
        var url1 = url[1].split(".");
        initTeamList(parseInt(url1[0]));
    });

</script>




</html>