<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <!--<title>LLC实验室网站</title>-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../../static/home/images/bitbug_favicon.ico"
          th:href="@{/home/images/bitbug_favicon.ico}"/>

    <link rel="stylesheet" href="../../static/home/css/reset.css" type="text/css"
          th:href="@{/home/css/reset.css}">
    <link href="../../static/home/css/public.css" rel="stylesheet"
          th:href="@{/home/css/public.css}">
    <link href="../../static/home/css/index.css" rel="stylesheet"
          th:href="@{/home/css/index.css}">
    <script type="text/javascript" src="../../static/home/js/jquery-1.12.4.min.js"
            th:src="@{home/js/jquery-1.12.4.min.js}"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <meta name="description" content="jPaginate - jQuery Pagination Plugin"/>
    <meta name="keywords" content="jquery, plugin, pagination, fancy"/>
    <title>实验室概况——广东省信息物理融合系统重点实验室</title>
    <link rel="stylesheet" href="../../static/home/css/header.css" type="text/css"
          th:href="@{/home/css/header.css}"/>
    <link rel="stylesheet" href="../../static/home/css/sidebar.css" type="text/css"
          th:href="@{/home/css/sidebar.css}"/>
    <link rel="stylesheet" href="../../static/home/css/meeting.css" type="text/css"
          th:href="@{/home/css/meeting.css}"/>
    <link rel="stylesheet" href="../../static/home/css/style.css" type="text/css"
          th:href="@{/home/css/style.css}"/>
    <link rel="stylesheet" href="../../static/home/css/papers.css" type="text/css"
          th:href="@{/home/css/papers.css}"/>

</head>
<body>
<div class="public-header" th:include="template/header_template :: header_template">

</div>
<div class="middle">
    <div class="container middle_container">
        <div class="middle_content">
            <div class="middle_l" id="temlate_middle">
                <!-- <h1><span>机构概况</span></h1> -->
                <ul id='resultType' class="tmo_list2">
                    <li class="ll first"><span>实验室概况</span></li>
                    <li class='ll'>
                        <a href='Team_introduction.html' class='ll_ref' style="background:#6ad;">
                            <i></i>
                            <span>团队简介</span>
                        </a>
                    </li>
                    <li class='ll'>
                        <a href='Institutional_profile.html' class='ll_ref'>
                            <i></i>
                            <span>机构简介</span>
                        </a>
                    </li>
                    <li class='ll'>
                        <a href='project_brief.html' class='ll_ref'>
                            <i></i>
                            <span>项目简介</span>
                        </a>
                    </li>

                </ul>

            </div>
            <div class="middle_r">
                <div class="crumb">
                    <ul id="crumbs">
                        <li><a href="index.html">首页</a></li>
                        <li><span>&nbsp;/&nbsp;</span></li>
                        <li><a href="Team introduction.html">实验室概况</a></li>
						<li><span>&nbsp;/&nbsp;</span></li>
                        <li><a href="Team introduction.html">团队简介</a></li>
                    </ul>
                </div>
               <div><b style="font-size: 13px;">团队负责人</b></div>
				<div>程良伦教授，博士 ，二级教授岗位，博士研究生导师</div>
				<div><b style="font-size: 13px;">团队成员</b></div>
				<div>副教授4人，讲师8人（青年百人5人），博士后研究人员5人，博士研究生4人，硕士研究生20-30人。</div>
				<div><b style="font-size: 13px;">主要研究领域：信息物理融合系统</b></div>
				<div>异构网络互联融合</div>
				<div>工业过程大数据</div>
				<div>高性能计算</div>
				<div>智能制造与知识自动化</div>
				<div>智能装备与机器人系统</div>
				<div>工控系统安全</div>
				<div><b style="font-size: 13px;">获得奖项</b></div>
				<div>“面向节能降耗的复杂工业关键工艺过程效能优化控制”，2010年获广东省科技进步一等奖，排名第一</div>
				<div>“高性能传感器网络及其信息物理融合系统”，2013年获广东省科技进步二等奖，排名第一。</div>
				<span><img src="../../static/home/images/1%20.png" th:src="@{/home/images/1%20.png}"style="width: 230px;"></span>
				<span><img src="../../static/home/images/2%20.png" th:src="@{/home/images/2%20.png}"style="width: 230px;"></span>




            </div>
        </div>
    </div>
</div>
<div class="public-footer" th:include="template/footer_template :: footer_template">

</div>

</body>
    <!--二级菜单栏-->
    <script>
     $(function(){
             $(".public-nav li:has(ul)").hover(function() {
             $(this).find("a:first").css("background-color","#00428f");
                 $(this).find(".subnav").css("display","block");

         },function() {
             $(this).find("a:first").css("background-color","#035ba6");
             $(this).find(".subnav").css("display","none");
         })
     });
    </script>
</html>